In [2]:
import pandas as pd
import numpy as np

In [4]:
ins=pd.read_csv(r"C:\Users\patro\Downloads\Auto_Insurance_Fraud_Claims_File03.csv")
ins

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,Annual_Mileage,DiffIN_Mileage,Low_Mileage_Discount,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,CC00000001,3/1/2022,22,31,116375016,IN,10/4/2023,4/4/2024,500/1000,500,...,17338,5441,0,0,10048.28,1219.00,4153.83,4675.45,VG98O2447,No
1,CC00000002,9/1/2022,16,34,189560103,IL,10/21/2023,4/21/2024,100/300,2000,...,9809,2825,0,0,12668.14,5979.67,1043.39,5645.08,FN33R3556,No
2,CC00000003,10/1/2022,15,27,197359502,IL,10/20/2023,4/20/2024,100/300,1000,...,15107,5482,0,0,802.77,372.55,82.28,347.94,VI12A3028,No
3,CC00000004,1/1/2022,24,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,12240,4943,0,0,11316.82,1797.40,5908.36,3611.06,QY82Q7886,No
4,CC00000005,4/1/2022,21,42,145901048,IL,9/10/2023,3/10/2024,100/300,500,...,7839,2747,0,0,13182.13,3330.70,8650.96,1200.47,BQ13U5871,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CC00009996,5/1/2022,20,25,179795405,IL,11/3/2023,5/3/2024,100/300,2000,...,15919,3729,0,0,1987.54,1177.74,244.92,564.88,HJ25L3623,No
9996,CC00009997,4/1/2022,21,30,145604801,IN,10/19/2023,4/19/2024,250/500,2000,...,12427,7752,0,0,19683.28,10200.21,1808.72,7674.35,XP93L0206,No
9997,CC00009998,7/1/2022,18,41,197200586,IL,9/30/2023,3/30/2024,500/1000,2000,...,14046,4658,0,0,14360.60,263.25,8113.20,5984.15,SH09K9480,No
9998,CC00009999,5/1/2022,20,41,180025847,OH,10/19/2023,4/19/2024,100/300,2000,...,6112,4490,1,0,20884.78,7239.50,8730.46,4914.82,AY43W3571,No
9999,CC00010000,6/1/2022,19,25,179795405,IL,11/3/2023,5/3/2024,100/300,2000,...,6334,7633,1,0,35869.95,1497.35,30913.29,3459.31,IB47W3584,No

In [5]:
ins.isnull()

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,Annual_Mileage,DiffIN_Mileage,Low_Mileage_Discount,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
ins.isnull().sum()

Claim_ID                       0
Bind_Date1                     0
Customer_Life_Value1           0
Age_Insured                    0
Policy_Num                     0
Policy_State                   0
Policy_Start_Date              0
Policy_Expiry_Date             0
Policy_BI                      0
Policy_Ded                     0
Policy_Premium                 0
Umbrella_Limit                 0
Insured_Zip                    0
Gender                         0
Education                      0
Occupation                     0
Hobbies                        0
Insured_Relationship           0
Capital_Gains                  0
Capital_Loss                   0
Garage_Location                0
Accident_Date                  0
Accident_Type                  0
Collision_Type                 0
Accident_Severity              0
authorities_contacted       1177
Acccident_State                0
Acccident_City                 0
Accident_Location              0
Accident_Hour                  0
Num_of_Vehicles_Involved       0
Property_Damage                0
Bodily_Injuries                0
Witnesses                      0
Police_Report               3330
DL_Expiry_Date                 0
Claims_Date                    0
Auto_Make                      0
Auto_Model                     0
Auto_Year                      0
Vehicle_Color                  0
Vehicle_Cost                   0
Annual_Mileage                 0
DiffIN_Mileage                 0
Low_Mileage_Discount           0
Commute_Discount               0
Total_Claim                    0
Injury_Claim                   0
Property_Claim                 0
Vehicle_Claim                  0
Vehicle_Registration           0
Check_Point                    0
dtype: int64

In [7]:
ins.dtypes

Claim_ID                     object
Bind_Date1                   object
Customer_Life_Value1          int64
Age_Insured                   int64
Policy_Num                    int64
Policy_State                 object
Policy_Start_Date            object
Policy_Expiry_Date           object
Policy_BI                    object
Policy_Ded                    int64
Policy_Premium              float64
Umbrella_Limit                int64
Insured_Zip                   int64
Gender                       object
Education                    object
Occupation                   object
Hobbies                      object
Insured_Relationship         object
Capital_Gains                 int64
Capital_Loss                  int64
Garage_Location              object
Accident_Date                object
Accident_Type                object
Collision_Type               object
Accident_Severity            object
authorities_contacted        object
Acccident_State              object
Acccident_City               object
Accident_Location            object
Accident_Hour                 int64
Num_of_Vehicles_Involved      int64
Property_Damage              object
Bodily_Injuries               int64
Witnesses                     int64
Police_Report                object
DL_Expiry_Date               object
Claims_Date                  object
Auto_Make                    object
Auto_Model                   object
Auto_Year                     int64
Vehicle_Color                object
Vehicle_Cost                float64
Annual_Mileage                int64
DiffIN_Mileage                int64
Low_Mileage_Discount          int64
Commute_Discount              int64
Total_Claim                 float64
Injury_Claim                float64
Property_Claim              float64
Vehicle_Claim               float64
Vehicle_Registration         object
Check_Point                  object
dtype: object

In [8]:
for i in ins.columns:
    print(i,':','\n',ins[i].unique(),'\n')

Claim_ID :
 ['CC00000001' 'CC00000002' 'CC00000003' ... 'CC00009998' 'CC00009999'
 'CC00010000']

Bind_Date1 :
 ['3/1/2022' '9/1/2022' '10/1/2022' '1/1/2022' '4/1/2022' '1/1/2023'
 '5/1/2022' '2/1/2022' '7/1/2022' '8/1/2022' '6/1/2022' '11/1/2022'
 '12/1/2022']

Customer_Life_Value1 :
 [22 16 15 24 21 12 20 23 18 17 19 14 13]

Age_Insured :
 [31 34 27 28 42 25 37 40 36 49 51 33 43 32 46 29 55 26 45 58 53 39 38 35
 62 52 44 54 41 47 48 30 50 61 23 60 59 56 57 24 64]

Policy_Num :
 [116375016 189560103 197359502 123790687 145901048 132596520 182849748
 124713754 199704644 158942066 192210025 144155768 138623476 134976201
 162583722 180369012 156163529 194487391 120145403 128674861 121138447
 145647240 172711092 185742341 137786293 191579764 197245530 112946220
 138421802 150613787 126661316 151346457 142935401 136753832 170739323
 180523543 133962793 120135138 188065828 193626051 179521640 190327395
 145849195 175250327 116890698 154616785 190192321 143146872 159331373
 169811488 127416279 133223123 142885999 137113781 156556702 136877893
 133661485 157026243 122268076 137535155 162220470 176316118 146633162
 165915869 146766276 175492478 114199383 197028908 145741386 189881960
 114101282 168468599 123330533 139323465 175266940 124353500 128336762
 117812103 188912727 140381984 172799953 165085647 189485666 188103299
 180131023 198428325 166371465 182277587 124153292 194481092 198863429
 124196894 186212909 130807958 147191902 125446216 117420539 196330500
 133326032 199485035 164466083 156536910 129165379 143767100 161381273
 139272053 176750522 131430740 174746314 170713782 176423556 165534839
 115614013 142025673 132665261 136866872 191281978 137248304 170125042
 165553808 148765783 138313819 181224660 196890489 199046488 183287405
 181889275 125104327 142506319 176911278 157501644 197939669 189651767
 148035949 122661309 129141823 187218777 176785687 135498813 186497234
 132638383 195444446 112610727 135836063 131283350 125392954 180782065
 132826187 126099979 145604801 146575922 118899557 189262342 143394022
 160197823 165322242 138596366 150605464 162351662 160686502 176209328
 175017203 156644355 119654547 178574281 151238150 143831003 153069911
 129302458 196181675 122888917 113288129 124964517 160976313 123224943
 161842049 117387343 181884716 156288222 141887191 118010202 128764574
 130159874 177957050 130224439 160466839 152336068 161934737 177064670
 186411747 171848718 136209658 179795405 186384798 196292559 180025847
 176589090 129436508 169959238 189709556 145391443 190032069 129900026
 192932240 130784784 152564225 169885937 160983937 157974776 156839274
 189098464 147531748 130805730 160647039 169476627 111823129 183873966
 160717500 141923376 133160388 118524492 151696874 163154037 199947527
 116405194 147879334 123078089 124517295 190136132 168111273 133438366
 164874452 115846653 112117835 125917590 175864545 193354702 171785217
 182177482 130799857 171950632 197200586 123389112 151343096 127977212
 142465414 142642201 182771525 174799038 191764387]

Policy_State :
 ['IN' 'IL' 'OH']

Policy_Start_Date :
 ['10/4/2023' '10/21/2023' '10/20/2023' '10/13/2023' '9/10/2023' '9/6/2023'
 '9/22/2023' '7/4/2023' '9/13/2023' '11/16/2023' '9/26/2023' '10/9/2023'
 '11/12/2023' '10/7/2023' '8/26/2023' '10/22/2023' '9/25/2023' '9/11/2023'
 '8/20/2023' '10/2/2023' '9/8/2023' '10/11/2023' '9/17/2023' '9/24/2023'
 '10/1/2023' '9/27/2023' '10/10/2023' '10/28/2023' '9/5/2023' '9/19/2023'
 '8/28/2023' '8/22/2023' '10/30/2023' '10/3/2023' '10/27/2023' '11/2/2023'
 '11/1/2023' '10/14/2023' '9/28/2023' '9/30/2023' '11/3/2023' '9/29/2023'
 '8/12/2023' '8/13/2023' '9/14/2023' '9/23/2023' '9/9/2023' '8/23/2023'
 '10/26/2023' '11/19/2023' '8/14/2023' '10/6/2023' '9/2/2023' '8/29/2023'
 '10/17/2023' '8/21/2023' '8/18/2023' '11/4/2023' '9/20/2023' '11/9/2023'
 '10/5/2023' '11/6/2023' '9/12/2023' '10/16/2023' '10/12/2023' '9/15/2023'
 '11/5/2023' '11/15/2023' '8/19/2023' '9/3/2023' '11/24/2023' '9/21/2023'
 '9/4/2023' '9/18/2023' '10/19/2023' '10/18/2023' '9/7/2023' '11/17/2023'
 '11/20/2023' '8/16/2023' '8/10/2023' '10/8/2023' '9/16/2023' '9/1/2023'
 '8/17/2023' '10/15/2023' '8/25/2023' '8/24/2023' '10/24/2023' '8/11/2023'
 '11/8/2023']

Policy_Expiry_Date :
 ['4/4/2024' '4/21/2024' '4/20/2024' '4/13/2024' '3/10/2024' '3/6/2024'
 '3/22/2024' '1/4/2024' '3/13/2024' '5/16/2024' '3/26/2024' '4/9/2024'
 '5/12/2024' '4/7/2024' '2/26/2024' '4/22/2024' '3/25/2024' '3/11/2024'
 '2/20/2024' '4/2/2024' '3/8/2024' '4/11/2024' '3/17/2024' '3/24/2024'
 '4/1/2024' '3/27/2024' '4/10/2024' '4/28/2024' '3/5/2024' '3/19/2024'
 '2/28/2024' '2/22/2024' '4/30/2024' '4/3/2024' '4/27/2024' '5/2/2024'
 '5/1/2024' '4/14/2024' '3/28/2024' '3/31/2024' '5/3/2024' '3/29/2024'
 '2/12/2024' '3/30/2024' '2/13/2024' '3/14/2024' '3/23/2024' '3/9/2024'
 '2/23/2024' '4/26/2024' '5/19/2024' '2/14/2024' '4/6/2024' '3/2/2024'
 '2/29/2024' '4/17/2024' '2/21/2024' '2/18/2024' '5/4/2024' '3/20/2024'
 '5/9/2024' '4/5/2024' '5/6/2024' '3/12/2024' '4/16/2024' '4/12/2024'
 '3/15/2024' '5/5/2024' '5/15/2024' '2/19/2024' '3/3/2024' '5/24/2024'
 '3/21/2024' '3/4/2024' '3/18/2024' '4/19/2024' '4/18/2024' '3/7/2024'
 '5/17/2024' '5/20/2024' '2/16/2024' '2/10/2024' '4/8/2024' '3/16/2024'
 '3/1/2024' '2/17/2024' '4/15/2024' '2/25/2024' '2/24/2024' '4/24/2024'
 '2/11/2024' '5/8/2024']

Policy_BI :
 ['500/1000' '100/300' '250/500']

Policy_Ded :
 [ 500 2000 1000]

Policy_Premium :
 [ 708.64 1057.77 1384.51  986.53 1315.68 1320.75 1139.    954.16 2047.59
 1217.69 1153.35  870.63 1279.08 1267.81 1222.48 1124.38 1334.15 1512.58
 1612.43 1348.83 1447.78 1268.79 1451.62 1362.29  936.61 1337.28 1333.35
 1340.43 1131.4   988.45 1207.36 1693.63 1254.18  965.21 1281.07 1000.06
 1848.81 1712.68 1394.43 1245.89 1266.92 1187.96 1242.96 1625.45 1240.47
 1203.24 1281.27 1081.08 1624.82 1470.06 1371.78 1587.96 1262.08 1737.66
 1155.55 1475.73  883.31 1442.99 1053.24 1608.34 1367.68 1152.4  1374.22
 1197.22 1048.46 1415.74 1168.2  1110.37 1488.02 1393.57 1588.55 1226.49
 1124.6  1269.76 1495.06 1072.62 1355.08 1103.58  773.99 1046.71 1332.07
 1463.82 1166.54 1301.13 1219.04 1053.02 1138.42  767.14 1074.07 1414.74
 1301.72 1406.91  769.95 1405.99 1372.27 1448.84 1234.2  1279.13 1201.41
 1318.06 1337.56 1540.19 1451.01 1532.47 1003.23  978.46 1239.22 1463.07
 1352.31 1302.4  1413.14 1495.1  1451.54  875.15 1088.34 1079.92 1058.21
  932.14 1040.75 1307.11 1515.18 1322.78  433.33 1137.16 1351.1  1142.62
 1238.62 1215.36  924.72 1690.27 1137.03 1314.6  1278.75 1199.44 1061.33
 1273.7  1706.79  873.64 1291.7  1340.56 1402.75 1530.52 1198.34 1338.5
 1011.92  885.08  920.3  1298.91 1025.54 1454.43 1922.84 1322.1  1277.25
 1042.26  823.17 1734.09 1318.24 1518.46 1722.95  964.79 1728.56 1253.12
 1086.21 1275.39 1326.62 1141.62 1226.83 1059.52 1515.3  1415.68 1583.91
 1344.36  897.89 1276.57 1197.71 1382.88 1337.92 1198.15 1073.83 1215.85
  965.13 1053.04 1019.44 1427.14 1097.71 1241.97 1497.35 1363.77  538.17
  968.74  990.98 1075.18 1425.54 1054.83 1055.53 1158.03  993.51 1397.67
 1148.73 1399.26 1362.87 1641.73  795.23 1362.64 1038.09 1297.75 1326.44
 1082.49 1212.   1104.5  1649.18 1352.83  972.18 1475.93 1506.21 1136.83
 1440.68 1221.22 1538.26 1620.89  895.83 1439.34 1105.49  768.91  847.03
 1483.25  835.02 1222.75 1235.1  1123.87  848.07 1489.24 1398.51 1141.35
 1083.72 1125.37 1514.72 1558.29 1191.19 1632.93 1167.3  1411.43 1046.58
 1474.17  976.67 1220.71 1594.45 1229.16  969.5 ]

Umbrella_Limit :
 [ 6000000        0  5000000  8000000  7000000  4000000 10000000  3000000
  9000000]

Insured_Zip :
 [470610 477382 476727 472720 600983 441491 617858 473328 439269 440106
 430714 431725 449718 603123 620757 618316 479224 452496 456762 474360
 467947 453148 456446 442598 464652 610393 441716 441175 458733 430141
 432896 452456 457555 610354 608371 440961 435489 614233 606352 435481
 613982 618845 449800 607452 472573 600702 447442 468104 454656 431683
 451560 601617 474615 470577 615901 477670 434733 601734 603527 466718
 613247 615921 472135 468176 466676 608117 452787 455365 600275 478423
 435758 460308 612904 467743 452249 444913 614945 475292 458727 616714
 609409 448984 479852 476685 456602 602402 477678 466201 451312 464691
 441726 466132 605486 472895 436547 430987 457767 615226 437818 618498
 605141 463842 460820 452587 470485 431121 476458 615611 465263 603948
 430632 609374 473412 442479 614780 430886 618655 612550 445601 600648
 443191 453277 603269 470603 615561 478456 475588 463993 432220 437688
 438830 603195 458139 461328 619884 478575 433473 462479 432934 609837
 433184 449557 603993 619735 618929 468168 459984 461958 459504 442632
 459407 431277 436984 605169 464107 455689 451400 601748 606238 472634
 460675 617947 462283 455340 466283 477310 451672 607763 452748 603248
 603381 610706 473329 618862 467784 470117 434923 441536 447925 609930
 454985 450341 619540 437387 446895 605258 430104 460742 604377 433782
 477519 469429 601112 475847 446788 441992 434247 468767 607889 439787
 611586 458364 450149 609216 450332 476978 451280 436973 606714 620473
 432211 613647 464959 443920 441648 453407 471300 442395 451586 615346
 469621 452597 444822 463181 443522 438555 465100 602433 432781 466959
 446326 607730 608335 472214 476456 617774 604450 617970 472248 468813
 614417 618123 464874 434982 440327 471600 603639 452747 604804 464839]

Gender :
 ['MALE' 'FEMALE']

Education :
 ['High School' 'JD' 'PhD' 'Masters' 'MD' 'Associate' 'College']

Occupation :
 ['machine-op-inspct' 'tech-support' 'adm-clerical' 'priv-house-serv'
 'farming-fishing' 'sales' 'prof-specialty' 'craft-repair' 'other-service'
 'exec-managerial' 'armed-forces' 'protective-serv' 'transport-moving'
 'handlers-cleaners']

Hobbies :
 ['reading' 'bungie-jumping' 'polo' 'camping' 'video-games' 'sleeping'
 'dancing' 'golf' 'kayaking' 'paintball' 'yachting' 'basketball'
 'board-games' 'chess' 'movies' 'base-jumping' 'skydiving' 'hiking'
 'exercise' 'cross-fit']

Insured_Relationship :
 ['unmarried' 'not-in-family' 'other-relative' 'wife' 'husband' 'own-child']

Capital_Gains :
 [53500     0 13100 62700 54100 42400 53200 24000 94800 53300 47600 36400
 46300 35100 52800 27500 52700 55700 36900 72200 35300 62500 68900 65300
 56600 48500 65700 57000 51100 33300 39600 45500 59900 48900 69100 34400
 59600 53900 44300 38100 39900 58100 41200 49700 47700 41300 63600 25500
 17600 88400 57300 47800 60300 43400 40700 47200 50500 46700 81100 88800
 40600 55200 25900 62000 61500 24800 43300   800 53000 28800 27000 51000
 52600 84900 63100 58000 54000 38400 68500 34300 66000 71500 29000 71400
 42900 60000 52000 29600 75400 37300 67700 78300 37800 31900 57900 70500
 35700 62400 36100 24400 72700 25000 76000 62200 45300 56200 90700 66400
 31000 65600 51400 29300 45100 58600]

Capital_Loss :
 [     0 -57700 -38200 -39300 -67800 -58500 -51500 -49200 -77500 -59900
 -31000 -55700 -51100 -32800 -77000 -40600 -57000 -64000 -45100 -53700
 -49000 -40300 -37100 -66900 -28700 -65600 -45800 -32500 -26900 -24100
 -27300 -53500 -10600 -82400 -37800 -62400 -56800 -39200 -39600 -32100
 -31400 -60200 -36200 -70300 -59100 -72300 -59300 -55500 -68700 -55000
 -36700 -47500 -44200 -50000 -46500 -80600 -74500 -24700 -91200 -47300
 -69700 -63100 -51000 -54000 -56200 -53800 -66200 -55600 -72500 -58900
 -67900 -38800 -52600 -45200 -29200 -78600 -13800 -57500 -24300 -56100
 -46000 -41300 -30300 -43200 -90200 -54800 -44500 -39700 -58100 -22300
 -31700 -57900 -58400 -51300 -50300 -44600 -49500 -19700 -41400 -60500
 -58600 -71700 -68200 -67400 -24400 -20400 -20800 -41000 -34400 -30200
 -45000 -57100 -56400 -42900 -88300]

Garage_Location :
 ['No' 'Yes']

Accident_Date :
 ['1/6/2024' '2/16/2024' '2/18/2024' '1/5/2024' '2/1/2024' '1/14/2024'
 '1/18/2024' '1/9/2024' '1/26/2024' '2/2/2024' '2/27/2024' '1/3/2024'
 '2/24/2024' '1/24/2024' '1/13/2024' '1/8/2024' '1/10/2024' '1/19/2024'
 '2/28/2024' '2/19/2024' '1/29/2024' '3/1/2024' '2/17/2024' '1/11/2024'
 '2/6/2024' '1/31/2024' '1/1/2024' '2/22/2024' '1/23/2024' '2/5/2024'
 '1/7/2024' '2/14/2024' '2/9/2024' '2/4/2024' '1/21/2024' '1/30/2024'
 '1/25/2024' '2/11/2024' '2/25/2024' '1/17/2024' '1/28/2024' '1/15/2024'
 '1/27/2024' '2/21/2024' '1/12/2024' '2/12/2024' '2/10/2024' '2/26/2024'
 '2/3/2024' '1/2/2024' '2/15/2024' '1/16/2024' '1/22/2024' '2/23/2024'
 '2/20/2024' '2/8/2024' '2/13/2024' '1/20/2024']

Accident_Type :
 ['Single Vehicle Collision' 'Multi-vehicle Collision' 'Vehicle Theft'
 'Parked Car']

Collision_Type :
 ['Side Collision' 'Front Collision' 'Rear Collision' 'Unknown']

Accident_Severity :
 ['Total Loss' 'Major Damage' 'Minor Damage' 'Trivial Damage']

authorities_contacted :
 ['Police' 'Ambulance' 'Other' 'Fire' nan]

Acccident_State :
 ['WV' 'NC' 'SC' 'VA' 'NY' 'OH' 'PA']

Acccident_City :
 ['Northbend' 'Riverwood' 'Springfield' 'Columbus' 'Hillsdale' 'Northbrook'
 'Arlington']

Accident_Location :
 ['4546 Tree St' '2003 Maple Hwy' '9484 Pine Drive' '7819 Oak St'
 '3066 Francis Ave' '6315 2nd Lane' '7756 Solo Drive' '4687 5th Drive'
 '9610 Cherokee St' '9138 1st St' '3590 Best Hwy' '2299 1st St'
 '7721 Washington Ridge' '7098 Lincoln Hwy' '6676 Tree Lane'
 '4574 Britain Hwy' '3104 Sky Drive' '8718 Apache Lane' '2087 Apache Ave'
 '9358 Texas Ridge' '8689 Maple Hwy' '5667 4th Drive' '4862 Lincoln Hwy'
 '4905 Francis Ave' '6582 Elm Lane' '9038 2nd Lane' '5846 Weaver Drive'
 '3087 Oak Hwy' '9573 Weaver Ave' '4981 Weaver St' '7428 Sky Hwy'
 '5640 Embaracadero Lane' '6012 Texas Hwy' '8404 Embaracadero St'
 '4116 Embaracadero Lane' '7121 Britain Drive' '2457 Washington Ave'
 '4053 Sky Lane' '5071 Flute Ridge' '6011 Britain St' '3418 Texas Lane'
 '5380 Pine St' '5838 Pine Lane' '2100 MLK St' '7476 4th St'
 '1562 Britain St' '7709 Rock Lane' '1699 Oak Drive' '4965 MLK Drive'
 '4296 Pine Hwy' '2539 Embaracadero Ridge' '8991 Embaracadero Ave'
 '3422 Flute St' '5719 2nd Lane' '3930 Embaracadero St' '8101 3rd Ridge'
 '2502 Apache Hwy' '4872 Rock Ridge' '7551 Britain Lane'
 '8281 Lincoln Lane' '6955 Pine Drive' '1681 Cherokee Hwy'
 '3842 Solo Ridge' '6608 MLK Hwy' '3878 Tree Lane' '6956 Maple Drive'
 '7459 Flute St' '4539 Texas St' '5445 Tree Hwy' '5821 2nd St'
 '7740 MLK St' '5904 1st Drive' '4985 Sky Lane' '4614 MLK Ave'
 '2733 Texas Drive' '3654 Cherokee Ave' '2204 Washington Lane'
 '3814 Britain Drive' '6359 MLK Ridge' '8586 1st Ridge'
 '1815 Cherokee Drive' '7717 Britain Hwy' '9316 Pine Ave' '6851 3rd Drive'
 '7380 5th Hwy' '7331 Sky Hwy' '5277 Texas Lane' '3327 Lincoln Drive'
 '3052 Weaver Ridge' '5418 Britain Ave' '7644 Tree Ridge' '9935 4th Drive'
 '1012 5th Lane' '4755 Best Lane' '1388 Embaracadero Hwy'
 '7783 Lincoln Hwy' '5124 Maple St' '3172 Tree Ridge' '7466 MLK Ridge'
 '2333 Maple Lane' '5211 Weaver Drive' '5506 Best St' '2005 Texas Hwy'
 '9751 Sky Ridge' '4955 Lincoln Ridge' '6634 Texas Ridge'
 '9169 Pine Ridge' '4939 Best St' '8983 Francis Ridge' '1598 3rd Drive'
 '7121 Francis Lane' '4154 Lincoln Hwy' '3167 2nd St' '8957 Weaver Drive'
 '6092 5th Ave' '7534 MLK Hwy' '2376 Sky Ridge' '1273 Rock Lane'
 '2275 Best Lane' '2804 Best St' '9798 Sky Ridge' '5260 Francis Drive'
 '6067 Weaver Ridge' '8118 Elm Ridge' '5971 5th Hwy' '8973 Washington St'
 '7523 Oak Lane' '8576 Andromedia St' '6655 5th Drive' '6104 Oak Ave'
 '6550 Andromedia St' '3525 3rd Hwy' '8782 3rd St' '2117 Lincoln Hwy'
 '5074 3rd St' '5783 Oak Ave' '8907 Tree Ave' '9706 MLK Lane'
 '9489 3rd St' '3220 Rock Drive' '9020 Elm Ave' '4268 2nd Ave'
 '2644 Elm Drive' '8655 Cherokee Lane' '2306 5th Lane' '3486 Flute Ave'
 '4098 Weaver Ridge' '9730 2nd Hwy' '7253 MLK St' '1840 Embaracadero Ave'
 '4234 Cherokee Lane' '5061 Francis Ave' '2533 Elm St' '8668 Flute St'
 '5994 5th Ave' '1126 Texas Hwy' '4964 Elm Lane' '5540 Sky St'
 '2201 4th Lane' '6149 Best Ridge' '1628 Best Drive' '6429 4th Hwy'
 '1558 1st Ridge' '2500 Tree St' '8150 Washington Ridge'
 '5104 Francis Drive' '8085 Andromedia St' '7238 2nd St' '5622 Best Ridge'
 '9737 Solo Hwy' '3540 Maple St' '3041 3rd Ave' '6375 2nd Lane'
 '4519 Embaracadero St' '6723 Best Drive' '3770 Flute Drive'
 '2293 Washington Ave' '7684 Francis Ridge' '8080 Oak Lane' '2280 4th Ave'
 '6165 Rock Ridge' '2808 Elm St' '5621 4th Ave' '9742 5th Ridge'
 '1028 Sky Lane' '8964 Francis St' '8749 Tree St' '2199 Texas Drive'
 '9748 Sky Drive' '6660 MLK Drive' '5532 Weaver Ridge' '1536 Flute Drive'
 '3289 Britain Drive' '5053 Tree Drive' '8579 Apache Drive'
 '6751 Pine Ridge' '7582 Pine Drive' '3567 4th Drive' '9034 Weaver Ridge'
 '3998 Flute St' '1240 Tree Lane' '1218 Sky Hwy' '1269 Flute Drive'
 '6618 Cherokee Drive' '3414 Elm Ave' '2078 3rd Ave' '1830 Sky St'
 '8442 Britain Hwy' '4866 4th Hwy' '7705 Best Ridge' '2100 Francis Drive'
 '5483 Francis Drive' '1679 2nd Hwy' '2526 Embaracadero Ave'
 '3221 Solo Ridge' '4693 Lincoln Hwy' '1331 Britain Hwy' '1845 Best St'
 '6408 Weaver Ridge' '9760 Solo Lane' '8621 Best Ridge' '2324 Texas Ridge'
 '2577 Washington Drive' '8006 Maple Hwy' '3743 Andromedia Ridge'
 '5431 3rd Ridge' '1135 Solo Lane' '8538 Texas Lane' '1454 5th Ridge'
 '9138 3rd St' '6619 Flute Ave' '3790 Andromedia Hwy' '7877 Sky Lane'
 '4672 MLK St' '3656 Solo Ave' '3550 Washington Ave' '4793 4th Ridge'
 '7477 MLK Drive' '8353 Britain Ridge' '3653 Elm Drive' '7923 Elm Ave'
 '8381 Solo Hwy' '9588 Solo St' '6193 1st Hwy' '7773 Tree Hwy'
 '6530 Weaver Ave' '9101 2nd Hwy' '5812 3rd Hwy' '9153 3rd Hwy'
 '2430 MLK Ave']

Accident_Hour :
 [ 9 22 14 11 20  0  2  6 12 13 10 16 15  7 21 19 18  5  3 17  4  1  8 23]

Num_of_Vehicles_Involved :
 [1 3 4 2]

Property_Damage :
 ['NO' 'Unknown' 'YES']

Bodily_Injuries :
 [0 1 2]

Witnesses :
 [2 1 3 0]

Police_Report :
 ['YES' 'NO' nan]

DL_Expiry_Date :
 ['3/21/2025' '9/1/2025' '2/25/2026' '8/12/2025' '8/30/2025' '6/12/2025'
 '7/2/2025' '12/4/2025' '7/9/2025' '6/9/2025' '6/15/2025' '11/15/2025'
 '1/30/2026' '2/15/2026' '3/25/2026' '6/25/2025' '2/7/2026' '2/5/2026'
 '6/11/2025' '12/16/2025' '3/27/2025' '1/2/2026' '9/22/2025' '8/4/2025'
 '6/10/2025' '7/5/2025' '2/14/2026' '5/15/2025' '8/22/2025' '8/9/2025'
 '9/2/2025' '5/11/2025' '5/27/2025' '12/18/2025' '5/31/2025' '9/27/2025'
 '3/11/2026' '1/8/2026' '9/10/2025' '4/24/2025' '8/19/2025' '8/1/2025'
 '10/5/2025' '10/20/2025' '10/22/2025' '7/30/2025' '7/20/2025' '9/20/2025'
 '9/4/2025' '4/25/2026' '1/28/2026' '4/9/2025' '12/20/2025' '11/8/2025'
 '4/19/2025' '3/21/2026' '8/10/2025' '2/10/2026' '5/12/2025' '1/26/2026'
 '9/7/2025' '6/23/2025' '12/31/2025' '7/26/2025' '8/15/2025' '12/13/2025'
 '11/21/2025' '12/30/2025' '1/7/2026' '10/23/2025' '9/9/2025' '9/16/2025'
 '3/2/2026' '7/7/2025' '4/9/2026' '10/17/2025' '12/19/2025' '1/17/2026'
 '3/26/2026' '5/9/2026' '12/8/2025' '3/27/2026' '7/12/2025' '11/14/2025'
 '5/10/2025' '7/29/2025' '8/5/2025' '7/10/2025' '11/23/2025' '5/5/2025'
 '9/3/2025' '3/13/2026' '6/8/2025' '1/16/2026' '3/16/2026' '1/14/2026'
 '3/9/2026' '10/10/2025' '1/11/2026' '2/19/2026' '4/30/2025' '5/8/2025'
 '5/20/2025' '12/12/2025' '11/26/2025' '12/29/2025' '8/7/2025' '3/24/2026'
 '9/14/2025' '9/13/2025' '11/27/2025' '8/18/2025' '4/7/2025' '7/8/2025'
 '6/3/2025' '8/21/2025' '5/18/2025' '11/25/2025' '9/6/2025' '6/7/2025'
 '8/27/2025' '10/15/2025' '4/14/2025' '10/4/2025' '4/27/2025' '5/19/2025'
 '8/13/2025' '6/24/2025' '4/3/2026' '10/8/2025' '12/26/2025' '7/31/2025'
 '5/17/2025' '12/7/2025' '8/20/2025' '6/20/2025' '2/26/2026' '10/30/2025'
 '6/14/2025' '9/17/2025' '5/30/2025' '9/5/2025' '2/16/2026' '5/24/2025'
 '11/29/2025' '8/3/2025' '5/1/2025' '1/2/2024' '10/29/2025' '1/5/2026'
 '12/17/2025' '11/10/2025' '11/4/2025' '2/20/2026' '10/24/2025'
 '10/11/2025' '4/29/2025' '4/26/2025' '3/14/2026' '2/8/2026' '1/3/2026'
 '10/19/2025' '10/16/2025' '10/26/2025' '3/15/2026' '5/2/2025' '7/4/2025'
 '3/10/2026' '8/26/2025' '12/23/2025' '3/7/2026' '6/28/2025' '11/18/2025'
 '11/2/2025' '7/1/2025' '4/11/2026' '9/28/2025' '8/25/2025' '7/28/2025'
 '4/12/2025' '11/20/2025' '1/20/2026' '7/14/2025']

Claims_Date :
 ['1/10/2024' '2/17/2024' '2/19/2024' '1/9/2024' '2/5/2024' '1/18/2024'
 '1/21/2024' '1/14/2024' '1/28/2024' '2/3/2024' '2/28/2024' '1/8/2024'

In [9]:
for i in ins.columns:
    print(i,':',sum(ins[i]=='?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [10]:
d=ins.describe(include='all')
d

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,Annual_Mileage,DiffIN_Mileage,Low_Mileage_Discount,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
count,10000,10000,10000.000000,10000.000000,1.000000e+04,10000,10000,10000,10000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000,10000
unique,10000,13,NaN,NaN,NaN,3,91,92,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000,1
top,CC00000001,9/1/2022,NaN,NaN,NaN,OH,9/30/2023,4/1/2024,100/300,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VG98O2447,No
freq,1,815,NaN,NaN,NaN,3541,315,300,3640,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10000
mean,NaN,NaN,18.014000,39.117800,1.555526e+08,NaN,NaN,NaN,NaN,1206.900000,...,11492.159800,4994.142700,0.187500,0.019000,14048.997323,4684.180207,4711.040314,4653.776802,NaN,NaN
std,NaN,NaN,3.746733,9.142149,2.578052e+07,NaN,NaN,NaN,NaN,621.756422,...,3726.935687,1737.729658,0.390332,0.136532,11915.940971,5727.246670,6271.260222,5718.479950,NaN,NaN
min,NaN,NaN,12.000000,23.000000,1.118231e+08,NaN,NaN,NaN,NaN,500.000000,...,5002.000000,2000.000000,0.000000,0.000000,504.420000,0.580000,0.350000,0.050000,NaN,NaN
25%,NaN,NaN,15.000000,32.000000,1.326384e+08,NaN,NaN,NaN,NaN,500.000000,...,8277.750000,3471.000000,0.000000,0.000000,6626.647500,1064.502500,1034.400000,1047.960000,NaN,NaN
50%,NaN,NaN,18.000000,39.000000,1.546168e+08,NaN,NaN,NaN,NaN,1000.000000,...,11459.000000,4984.500000,0.000000,0.000000,13092.490000,2913.885000,2909.870000,2922.200000,NaN,NaN
75%,NaN,NaN,21.000000,45.000000,1.779570e+08,NaN,NaN,NaN,NaN,2000.000000,...,14729.250000,6507.500000,0.000000,0.000000,19399.300000,6536.385000,6461.615000,6454.815000,NaN,NaN
max,NaN,NaN,24.000000,64.000000,1.999475e+08,NaN,NaN,NaN,NaN,2000.000000,...,18000.000000,8000.000000,1.000000,1.000000,124753.720000,99996.470000,108933.530000,105203.800000,NaN,NaN

In [11]:
for i in ins.columns:
    ins[i].replace('?',d[i][2],inplace=True)

C:\Users\patro\AppData\Local\Temp\ipykernel_20732\2086227869.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ins[i].replace('?',d[i][2],inplace=True)

In [12]:
for i in ins:
    print(i,':',sum(ins[i]=='?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [15]:
ins

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,Annual_Mileage,DiffIN_Mileage,Low_Mileage_Discount,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,CC00000001,3/1/2022,22,31,116375016,IN,10/4/2023,4/4/2024,500/1000,500,...,17338,5441,0,0,10048.28,1219.00,4153.83,4675.45,VG98O2447,No
1,CC00000002,9/1/2022,16,34,189560103,IL,10/21/2023,4/21/2024,100/300,2000,...,9809,2825,0,0,12668.14,5979.67,1043.39,5645.08,FN33R3556,No
2,CC00000003,10/1/2022,15,27,197359502,IL,10/20/2023,4/20/2024,100/300,1000,...,15107,5482,0,0,802.77,372.55,82.28,347.94,VI12A3028,No
3,CC00000004,1/1/2022,24,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,12240,4943,0,0,11316.82,1797.40,5908.36,3611.06,QY82Q7886,No
4,CC00000005,4/1/2022,21,42,145901048,IL,9/10/2023,3/10/2024,100/300,500,...,7839,2747,0,0,13182.13,3330.70,8650.96,1200.47,BQ13U5871,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CC00009996,5/1/2022,20,25,179795405,IL,11/3/2023,5/3/2024,100/300,2000,...,15919,3729,0,0,1987.54,1177.74,244.92,564.88,HJ25L3623,No
9996,CC00009997,4/1/2022,21,30,145604801,IN,10/19/2023,4/19/2024,250/500,2000,...,12427,7752,0,0,19683.28,10200.21,1808.72,7674.35,XP93L0206,No
9997,CC00009998,7/1/2022,18,41,197200586,IL,9/30/2023,3/30/2024,500/1000,2000,...,14046,4658,0,0,14360.60,263.25,8113.20,5984.15,SH09K9480,No
9998,CC00009999,5/1/2022,20,41,180025847,OH,10/19/2023,4/19/2024,100/300,2000,...,6112,4490,1,0,20884.78,7239.50,8730.46,4914.82,AY43W3571,No
9999,CC00010000,6/1/2022,19,25,179795405,IL,11/3/2023,5/3/2024,100/300,2000,...,6334,7633,1,0,35869.95,1497.35,30913.29,3459.31,IB47W3584,No

In [17]:
import pandas as pd
import numpy as np

In [18]:
auto=pd.read_csv(r"C:\Users\patro\Downloads\Auto_Insurance_Fraud_Claims_File02.csv")
auto

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,BB00000001,11/1/2022,14,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,5683,0,N,0,6208.92,787.12,4184.84,1236.96,JP09S1996,No
1,BB00000002,1/1/2022,24,30,189485666,OH,9/14/2023,3/14/2024,500/1000,1000,...,6695,0,Y,0,15441.40,633.67,7970.99,6836.74,JY94J4803,No
2,BB00000003,11/1/2022,14,52,145849195,IL,10/30/2023,4/30/2024,250/500,1000,...,7130,0,N,0,13560.50,225.07,11033.06,2302.37,HU95F8182,No
3,BB00000004,11/1/2022,14,39,183287405,OH,8/19/2023,2/19/2024,250/500,1000,...,2791,0,Y,0,2777.97,874.48,671.78,1231.71,ME57A7253,No
4,BB00000005,12/1/2022,13,35,180131023,IL,9/25/2023,3/25/2024,100/300,2000,...,7552,0,N,0,3455.36,23.65,3138.90,292.81,AH97U6339,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,BB00019996,2/1/2022,23,26,174806200,IL,9/28/2023,3/28/2024,500/1000,1000,...,6510,0,N,0,9875.94,3696.11,4295.37,1884.46,RN84H5362,No
19996,BB00019997,6/1/2022,19,49,135150142,IL,10/27/2023,4/27/2024,100/300,2000,...,7533,0,N,0,3136.37,1136.86,43.86,1955.65,XM18W4953,No
19997,BB00019998,3/1/2022,22,31,138868192,IL,10/18/2023,4/18/2024,100/300,2000,...,5173,0,N,0,2688.14,97.91,942.91,1647.32,RS49F4333,No
19998,BB00019999,9/1/2022,16,41,188900315,OH,8/6/2023,2/6/2024,100/300,2000,...,6604,1,Y,0,13243.07,3826.27,5050.61,4366.19,TX93G1636,No
19999,BB00020000,9/1/2022,16,41,190136132,IL,9/30/2023,3/30/2024,500/1000,500,...,2845,0,N,0,570.61,26.75,489.18,54.68,DM88X8916,No

In [19]:
auto.isnull().sum()

Claim_ID                       0
Bind_Date1                     0
Customer_Life_Value1           0
Age_Insured                    0
Policy_Num                     0
Policy_State                   0
Policy_Start_Date              0
Policy_Expiry_Date             0
Policy_BI                      0
Policy_Ded                     0
Policy_Premium                 0
Umbrella_Limit                 0
Insured_Zip                    0
Gender                         0
Education                      0
Occupation                     0
Hobbies                        0
Insured_Relationship           0
Capital_Gains                  0
Capital_Loss                   0
Garage_Location                0
Accident_Date                  0
Accident_Type                  0
Collision_Type                 0
Accident_Severity              0
authorities_contacted       2005
Acccident_State                0
Acccident_City                 0
Accident_Location              0
Accident_Hour                  0
Num_of_Vehicles_Involved       0
Property_Damage                0
Bodily_Injuries                0
Witnesses                      0
Police_Report               7092
DL_Expiry_Date                 0
Claims_Date                    0
Auto_Make                      0
Auto_Model                     0
Auto_Year                      0
Vehicle_Color                  0
Vehicle_Cost                   0
Annual_Mileage                 0
DiffIN_Mileage                 0
Low_Mileage_Discount           0
Fraud_Ind                      0
Commute_Discount               0
Total_Claim                    0
Injury_Claim                   0
Property_Claim                 0
Vehicle_Claim                  0
Vehicle_Registration           0
Check_Point                    0
dtype: int64

In [20]:
auto.dtypes

Claim_ID                     object
Bind_Date1                   object
Customer_Life_Value1          int64
Age_Insured                   int64
Policy_Num                    int64
Policy_State                 object
Policy_Start_Date            object
Policy_Expiry_Date           object
Policy_BI                    object
Policy_Ded                    int64
Policy_Premium              float64
Umbrella_Limit                int64
Insured_Zip                   int64
Gender                       object
Education                    object
Occupation                   object
Hobbies                      object
Insured_Relationship         object
Capital_Gains                 int64
Capital_Loss                  int64
Garage_Location              object
Accident_Date                object
Accident_Type                object
Collision_Type               object
Accident_Severity            object
authorities_contacted        object
Acccident_State              object
Acccident_City               object
Accident_Location            object
Accident_Hour                 int64
Num_of_Vehicles_Involved      int64
Property_Damage              object
Bodily_Injuries               int64
Witnesses                     int64
Police_Report                object
DL_Expiry_Date               object
Claims_Date                  object
Auto_Make                    object
Auto_Model                   object
Auto_Year                     int64
Vehicle_Color                object
Vehicle_Cost                float64
Annual_Mileage                int64
DiffIN_Mileage                int64
Low_Mileage_Discount          int64
Fraud_Ind                    object
Commute_Discount              int64
Total_Claim                 float64
Injury_Claim                float64
Property_Claim              float64
Vehicle_Claim               float64
Vehicle_Registration         object
Check_Point                  object
dtype: object

In [21]:
for i in auto.columns:
    print(i,':','\n',auto[i].unique(),'\n')

Claim_ID :
 ['BB00000001' 'BB00000002' 'BB00000003' ... 'BB00019998' 'BB00019999'
 'BB00020000']

Bind_Date1 :
 ['11/1/2022' '1/1/2022' '12/1/2022' '7/1/2022' '10/1/2022' '9/1/2022'
 '4/1/2022' '8/1/2022' '5/1/2022' '3/1/2022' '6/1/2022' '1/1/2023'
 '2/1/2022']

Customer_Life_Value1 :
 [14 24 13 18 15 16 21 17 20 22 19 12 23]

Age_Insured :
 [35 30 52 39 42 40 28 61 50 43 33 34 47 44 49 31 46 54 41 32 45 38 29 58
 26 24 25 36 27 37 51 57 56 55 62 23 48 53 59 21 60 19 64]

Policy_Num :
 [155203481 189485666 145849195 183287405 180131023 164466083 186497234
 158942066 189881960 126661316 190032069 195444446 153319988 133160388
 182951666 193394941 175266940 115686952 145604801 142472845 187449184
 135150142 138623476 128027082 125446216 111823129 161934737 199485035
 139620673 130159874 191281978 170125042 112491592 160197823 199815585
 164576011 186384798 174897443 148765783 133326032 188912727 159458719
 165085647 181884716 116207253 136209658 132596520 145391443 176911278
 196181675 175830000 159128174 116890698 124353500 136753832 157260880
 171718422 136877893 196086417 180572284 133223123 187218777 144010008
 189560103 135498813 115846653 133661485 190136132 114199383 161381273
 130805730 148035949 117420539 127299878 177246542 150020420 179795405
 194123332 151000413 129141823 138596366 198428325 152336068 180782065
 150394074 141887191 198024066 113382369 161919433 196330500 116405194
 171249050 197229123 130799857 129900026 119197896 172923725 193460365
 196890489 151343096 179708145 194977243 139272053 122661309 145322777
 157974776 182333499 127730968 123330533 159020103 140456031 152535080
 165892156 156163529 176718161 199046488 140238228 132799887 191189321
 156866667 145901048 139584049 184449082 122673696 182771525 146575922
 158303184 125392954 183020206 140381984 140556721 150422805 142506319
 179333363 174799038 164266140 165322242 138920348 189368624 122928967
 120145403 163321110 132665261 111551060 174330395 116429059 123224943
 199704644 129938348 198863429 158002009 118067750 197245530 164784750
 169059110 132826187 184956663 177348613 118449042 193354702 176890509
 197359502 182277587 152564225 171950632 146766276 133028627 129813732
 160983937 179740441 164634921 142642201 160647039 165332680 155307986
 160466839 118987931 195008314 149185973 127698755 197028908 174116509
 195667914 143831003 124964517 174746314 197939669 123707951 131328876
 133169328 165915869 117118080 177064670 142885999 199947527 125917590
 169476627 175250327 152842006 121615489 127866295 189262342 114101282
 178894630 161842049 162220470 155103686 157850626 172711092 130784784
 198791045 175864545 164804344 147191902 167678142 161406915 139293433
 124681975 156556702 160252789 181844627 124813354 122268076 170739323
 160686502 177957050 135836063 114489761 120021090 188359064 113909228
 185742341 132071308 143394022 129165379 115429205 117387343 165534839
 187343539 186411747 123078089 156536910 130224439 136589389 181633846
 180703578 132196345 122888917 147879334 180369012 132638383 151014063
 159975397 172345771 156839274 124196894 133438366 137535155 122549686
 118010202 158600613 138502929 121381476 164094126 171474287 169959238
 120135138 154596559 125104327 131283350 138868192 173927158 143361646
 176209328 112117835 142935401 131951443 168468599 127977212 176785687
 145647240 193919047 180638616 138685720 180523543 165905112 162583722
 162353226 192932240 137776031 157026243 118389205 134017608 126099979
 196877995 153939978 174093059 151696874 195715980 151346457 156644355
 146633162 160976313 131697556 159331373 154616785 197200586 176750522
 155039649 173169710 115447038 195588539 163154037 146863149 146508321
 189098464 160990531 119654547 137248304 182347086 179326304 112610727
 194487391 123790687 135166716 186486766 185295646 191764387 137113781
 182849748 178841304 169885937 186212909 113288129 164874452 123448615
 142025673 197255523 115614013 112663606 197406846 122696106 143048083
 171295258 172849356 187591129 176423556 194481092 179521640 143767100
 140485208 192210025 122566697 189709556 120282075 183873966 118524492
 122016971 143146872 150613787 117812103 189651767 196292559 148296327
 160717500 151238150 174100991 122765242 141491725 112928572 145741386
 125910409 135109736 127736338 129302458 150758732 180533664 149076868
 118581583 166371465 127416279 147531748 123389112 190192321 163217494
 168111273 167990246 176154964 139323465 179882994 162497125 162613385
 162351662 178574281 121138447 127520192 129436508 189948150 181889275
 124713754 150605464 155343292 178764807 163667595 136866872 119509202
 188900315 120528994 173636722 148118250 150776684 126712418 195814830
 177611022 157501644 188065828 151730439 185543499 180025847 125016604
 134976201 128764574 176316118 122875416 144155768 118899557 191579764
 115051436 176589090 169341634 141923376 190792514 137786293 116143586
 175492478 128674861 142825108 182177482 127906831 135534304 136881491
 124517295 162371914 116375016 123821451 185574913 189723037 181224660
 174806200 134532179 138313819 138421802 169811488 124153292 182444889
 123482973 119396376 187059512 190327395 112946220 171837003 176476271
 118378039 190849974 175017203 188103299 151349282 172799953 115607484
 128336762 123004117 147514137 173846132 138070787 173184605 122073424
 142151828 170713782 193626051 142465414 132259155 133962793 137786504
 156288222 165553808 184554555 153069911 171785217 130807958 131430740
 170715776 115577584 197172248 123224691 123524070 132574892 171848718
 141836017 127684391 170840789]

Policy_State :
 ['IN' 'OH' 'IL']

Policy_Start_Date :
 ['10/12/2023' '9/14/2023' '10/30/2023' '8/19/2023' '9/25/2023' '10/1/2023'
 '9/8/2023' '7/4/2023' '11/19/2023' '10/2/2023' '10/22/2023' '10/8/2023'
 '9/26/2023' '9/30/2023' '9/22/2023' '8/29/2023' '9/11/2023' '10/19/2023'
 '10/7/2023' '11/23/2023' '10/27/2023' '11/16/2023' '9/28/2023'
 '9/12/2023' '10/21/2023' '9/27/2023' '10/6/2023' '10/23/2023'
 '10/29/2023' '8/21/2023' '9/15/2023' '11/1/2023' '9/29/2023' '9/20/2023'
 '10/9/2023' '9/3/2023' '9/2/2023' '11/12/2023' '10/17/2023' '9/18/2023'
 '11/3/2023' '10/3/2023' '9/23/2023' '10/14/2023' '10/5/2023' '10/20/2023'
 '8/26/2023' '9/21/2023' '9/10/2023' '11/7/2023' '10/28/2023' '8/18/2023'
 '8/17/2023' '8/1/2023' '9/13/2023' '8/24/2023' '8/11/2023' '10/4/2023'
 '10/26/2023' '8/22/2023' '8/6/2023' '11/15/2023' '11/4/2023' '8/27/2023'
 '10/18/2023' '8/25/2023' '9/9/2023' '11/17/2023' '10/13/2023'
 '10/15/2023' '8/12/2023' '10/16/2023' '9/17/2023' '9/19/2023' '11/8/2023'
 '10/11/2023' '8/23/2023' '8/10/2023' '11/24/2023' '9/7/2023' '8/14/2023'
 '8/13/2023' '8/20/2023' '11/14/2023' '10/10/2023' '11/20/2023'
 '9/24/2023' '11/2/2023' '9/4/2023' '9/1/2023' '9/6/2023' '11/18/2023'
 '10/24/2023' '8/16/2023' '9/16/2023' '7/1/2023' '11/26/2023' '11/5/2023'
 '11/6/2023' '11/9/2023' '11/13/2023' '8/28/2023' '9/5/2023' '11/30/2023'
 '8/15/2023' '11/10/2023']

Policy_Expiry_Date :
 ['4/12/2024' '3/14/2024' '4/30/2024' '2/19/2024' '3/25/2024' '4/1/2024'
 '3/8/2024' '1/4/2024' '5/19/2024' '4/2/2024' '4/22/2024' '4/8/2024'
 '3/26/2024' '3/31/2024' '3/22/2024' '2/29/2024' '3/11/2024' '4/19/2024'
 '4/7/2024' '5/23/2024' '4/27/2024' '5/16/2024' '3/28/2024' '3/12/2024'
 '4/21/2024' '3/27/2024' '4/6/2024' '4/23/2024' '4/29/2024' '2/21/2024'
 '3/15/2024' '5/1/2024' '3/29/2024' '3/20/2024' '4/9/2024' '3/3/2024'
 '3/2/2024' '5/12/2024' '4/17/2024' '3/18/2024' '5/3/2024' '4/3/2024'
 '3/23/2024' '4/14/2024' '4/5/2024' '3/30/2024' '4/20/2024' '2/26/2024'
 '3/21/2024' '3/10/2024' '5/7/2024' '4/28/2024' '2/18/2024' '2/17/2024'
 '2/1/2024' '3/13/2024' '2/24/2024' '2/11/2024' '4/4/2024' '4/26/2024'
 '2/22/2024' '2/6/2024' '5/15/2024' '5/4/2024' '2/27/2024' '4/18/2024'
 '2/25/2024' '3/9/2024' '5/17/2024' '4/13/2024' '4/15/2024' '2/12/2024'
 '4/16/2024' '3/17/2024' '3/19/2024' '5/8/2024' '4/11/2024' '2/23/2024'
 '2/10/2024' '5/24/2024' '3/7/2024' '2/14/2024' '2/13/2024' '2/20/2024'
 '5/14/2024' '4/10/2024' '5/20/2024' '3/24/2024' '5/2/2024' '3/4/2024'
 '3/1/2024' '3/6/2024' '5/18/2024' '4/24/2024' '2/16/2024' '3/16/2024'
 '1/1/2024' '5/26/2024' '5/5/2024' '5/6/2024' '5/9/2024' '5/13/2024'
 '2/28/2024' '3/5/2024' '5/30/2024' '2/15/2024' '5/10/2024']

Policy_BI :
 ['500/1000' '250/500' '100/300']

Policy_Ded :
 [2000 1000  500]

Policy_Premium :
 [1123.89 1166.54 1242.96 1351.1  1219.04 1337.56 1291.7  1217.69 1393.57
 1207.36 1362.87 1402.75 1422.36 1538.26  972.47  942.51 1495.06 1386.93
 1025.54 1340.71 1434.51 1347.92 1279.08 1338.4  1448.84 1506.21 1497.35
 1318.06  994.74 1053.04 1058.21 1040.75 1447.77 1042.26 1117.42 1554.86
 1425.54 1304.67 1515.18 1201.41  773.99 1294.93 1463.82 1337.92 1335.13
  990.98 1320.75 1399.26  924.72 1515.3   904.7   974.16 1240.47 1072.62
  965.21 1035.79 1102.29 1475.73 1260.32 1418.5  1587.96 1273.7  1575.86
 1057.77  873.64 1489.24  883.31 1222.75 1168.2  1003.23 1352.83 1278.75
 1234.2  1616.58  782.23 1242.02 1075.18 1075.71  694.45 1061.33 1734.09
 1053.02 1241.97  885.08 1307.74 1073.83 1134.08 1304.35 1480.79 1279.13
  768.91 1353.33 1191.19 1641.73 1153.49 1346.27 1376.16 1374.22 1046.58
 1464.03 1482.14  978.46 1199.44 1483.91 1082.49 1384.64 1050.24 1124.6
 1086.48 1178.95 1190.6   806.31 1334.15 1209.41 1137.16  988.29 1257.
 1453.92 1342.02 1315.68 1195.01 1459.97 1115.27 1594.45 1454.43  995.56
 1011.92  915.29 1046.71 1285.03 1527.95 1215.36 1724.09 1229.16 1090.03
  823.17  845.16 1344.56 1091.73 1612.43 1354.5  1088.34 1012.78 1629.94
 1861.43 1276.57 2047.59 1241.04 1301.72  984.45  736.07 1333.35  956.69
 1216.56  920.3  1403.9  1454.42 1096.79 1125.37 1878.44 1384.51  767.14
 1038.09 1632.93 1048.46 1155.53 1097.64 1326.44 1259.02 1609.67 1220.71
  972.18 1711.72 1171.75 1097.71 1090.65 1306.78 1326.   1326.98 1110.37
 1486.04 1603.42 1141.62 1344.36 1352.31 1137.03  870.55 1281.25  977.4
 1197.22 1348.32 1363.77 1262.08 1105.49 1141.35 1475.93 1625.45 1665.45
 1829.63  862.92 1322.1  1588.55 1083.01 1197.71 1367.68 1532.8  1455.65
 1451.62 1362.64 1366.39 1083.72 1238.89 1372.27 1243.84 1628.   1346.18
 1400.74 1155.55 1181.46  894.4  1255.68 1053.24 1281.07 1722.95 1019.44
 1198.34  617.11 1570.86 1573.93 1377.94 1362.29 1538.6  1277.25 1451.01
 1342.72 1382.88 1495.1   791.47  538.17 1483.25 1540.19 1427.14  966.26
 1008.38 1004.63 1472.77 1415.68  847.03 1124.38 1340.56 1280.9   802.24
 1315.56 1212.   1406.91 1123.87 1608.34  973.8  1215.85 1793.16 1836.02
 1416.24 1248.25 1595.07 1397.67 1712.68 1101.51 1238.62 1338.5  1018.73
 1399.27 1134.91  964.79 1398.51 1254.18  927.23 1226.49 1474.17 1706.79
 1268.79 1111.72 1078.22  793.15 1000.06 1316.63 1222.48 1462.76  795.23
 1601.47 1442.99  947.75 1338.55 1298.91 1030.95 1238.65 1097.57  895.83
  865.33 1693.63 1253.12  897.89 1161.31 1624.82 1203.24 1167.3  1239.22
 1399.85 1313.33 1140.31 1379.93 1439.34  889.13 1275.81 1104.5  1398.46
 1086.21  932.14 1330.46 1191.8  1530.52 1512.58  986.53 1219.27 1757.21
 1269.64  969.5  1737.66 1139.   1437.33 1297.75  769.95 1583.91  848.07
 1402.78  875.15 1366.9  1451.54 1401.2  1366.42 1061.98 1331.69 1575.74
  653.66 1464.73 1413.14 1414.74 1266.92 1532.47  914.22 1153.35 1411.3
 1148.73 1134.68 1136.83 1620.89 1554.64 1081.08  988.45 1103.58 1314.6
 1054.83 1056.71 1440.68 1326.62 1437.88 1412.31 1209.07 1252.08 1488.02
 1187.53 1313.51 1377.04 1059.52 1313.64  929.7  1618.65 1082.72 1138.42
 1371.78 1649.18 1411.43 1281.27  814.96 1235.1  1141.71 1390.29 1269.76
 1443.32 1257.83  903.32 1518.46 1275.39 1447.78 1212.12  993.51 1233.96
 1142.62  954.16 1318.24 1247.87 1117.17 1085.03 1079.92 1175.7  1312.75
 1194.   1342.8  1175.51 1226.78 1245.61 1185.78 1388.58 1690.27 1394.43
 1080.13 1589.54 1055.53 1021.9  1267.81  965.13 1152.4  1075.41  870.63
 1922.84 1337.28 1239.55 1158.03 1338.54 1221.22  974.59  936.61 1611.83
 1415.74 1348.83 1118.58 1558.29 1327.41  951.46 1372.18  835.02  765.64
  708.64  949.44  714.03 1161.91  433.33 1371.88 1286.44 1322.78 1131.4
 1470.06 1074.07 1407.01 1251.65 1282.93 1567.37 1187.96 1340.43 1127.89
 1523.17 1217.84  972.5  1728.56 1301.13 1396.83 1332.07  922.67 1355.08
 1050.76 1152.12 1047.06 1310.76 1237.88 1724.46 1525.86 1302.4  1245.89
  976.67 1551.61 1848.81 1264.77 1198.15 1307.11 1365.46 1226.83 1514.72
 1405.99 1463.07 1006.77 1595.28 1442.27 1203.17  969.88 1117.04  968.74
 1459.93 1441.21 1276.43]

Umbrella_Limit :
 [       0  7000000  6000000  4000000  3000000  5000000  9000000  8000000
 10000000  2000000  1000000]

Insured_Zip :
 [468313 479852 449800 478456 456602 605141 609837 440106 478423 432896
 458364 449557 604668 615346 441981 478981 452249 457130 442632 600153
 460535 430853 449718 431937 430987 453407 460742 618498 452701 619540
 618655 445601 605756 464107 446158 608758 475847 605408 443191 437818
 458727 477356 448984 441536 452647 469429 441491 611586 437688 603248
 454530 438328 472573 444913 610354 457551 450889 477670 460760 614948
 601617 433473 461275 477382 432934 608335 434733 432781 452787 470485
 464959 461328 457767 447979 449221 601961 601112 604328 450703 478575
 451400 602402 430104 459984 466137 609930 446895 617267 432399 615226
 443522 447458 445904 468813 450149 432711 468508 466555 470603 434982
 444797 613936 431121 619884 431531 606714 600754 456789 612904 444903
 441370 434206 602177 479224 476185 615561 476502 616341 607605 608425
 600983 476227 441783 613816 452747 459407 464665 468168 607893 616714
 457942 611322 432220 615712 604804 430232 455689 434342 443344 601213
 456762 614780 469126 620104 461514 467784 439269 431361 441726 474998
 445339 441716 438237 436522 461958 449793 459588 446898 604450 450746
 476727 466201 476978 614417 466676 465158 614812 436973 439534 470128
 603639 443920 463678 472163 605258 608331 466818 438546 450368 455365
 615688 616637 451672 473329 465263 603195 465631 463583 444500 468176
 604377 474615 463181 476456 441648 607452 445853 452204 448809 436984
 435758 448882 470117 613247 473935 616706 456446 450332 438180 617774
 600561 436547 474848 606487 611852 611118 615901 601117 446435 466303
 603527 608371 472634 437387 619735 436711 454685 461919 442540 442598
 618455 605169 460820 445638 434923 609374 477260 433782 465100 463842
 471704 472803 460359 471366 603381 438555 618316 433184 604289 612597
 471806 620473 466132 446326 466718 479913 454985 619166 470559 441659
 605692 439304 607889 614233 619108 463993 618929 469646 448913 452735
 460675 472214 457555 450730 460308 440327 462479 453148 448857 453274
 620869 440961 613178 620757 615683 609216 465764 601734 458470 430380
 459504 435985 468702 462836 452597 615220 452456 462283 472135 618862
 617527 454656 600702 618123 476458 605490 455332 473243 608228 444822
 459429 472657 432211 455672 455340 612550 435552 435299 603993 452496
 472720 466970 477695 602942 464839 470577 617858 450339 451280 605486
 610706 607730 469383 442479 459322 473412 619892 476198 440837 469653
 614265 475483 443861 430632 464691 613982 452587 444155 430714 474801
 439787 464145 471300 469621 457535 468104 430141 475292 458139 446788
 464630 442395 477310 614383 620737 604138 465456 600275 615383 600904
 441363 452748 438617 618632 475407 478661 477678 451560 613647 464874
 447442 435267 466959 435995 479408 467743 613287 458622 451184 606238
 466283 467947 446544 468767 606177 475588 473328 601748 464336 473645
 476303 430886 608767 471453 613583 439502 474792 468433 478703 478837
 459122 438830 606352 606290 444734 441992 464237 603123 450341 615921
 445648 431725 431277 610393 464736 434247 438178 451586 466838 464652
 460176 608117 474360 460801 472248 440930 467227 439929 602433 466191
 470610 448603 465979 457722 603269 462420 460564 453277 458733 431683
 451312 475705 433683 616126 602514 618845 441175 460722 610479 443462
 469895 617947 476685 442308 609409 473611 614945 467942 434669 443402
 476737 462683 432491 463184 603948 435481 471600 470670 435489 447300
 447925 600648 466634 607763 617970 472895 615611 478172 479320 435100
 455810 614385 605121 477519 438584 609322 431278]

Gender :
 ['MALE' 'FEMALE']

Education :
 ['MD' 'Masters' 'High School' 'PhD' 'College' 'JD' 'Associate']

Occupation :
 ['priv-house-serv' 'prof-specialty' 'other-service' 'tech-support'
 'handlers-cleaners' 'sales' 'machine-op-inspct' 'exec-managerial'
 'craft-repair' 'protective-serv' 'transport-moving' 'armed-forces'
 'farming-fishing' 'adm-clerical']

Hobbies :
 ['video-games' 'sleeping' 'paintball' 'bungie-jumping' 'kayaking'
 'reading' 'movies' 'camping' 'chess' 'exercise' 'yachting' 'polo'
 'base-jumping' 'golf' 'board-games' 'cross-fit' 'hiking' 'basketball'
 'skydiving' 'dancing']

Insured_Relationship :
 ['unmarried' 'not-in-family' 'own-child' 'wife' 'other-relative' 'husband']

Capital_Gains :
 [35400 47700     0 63600 24000 47600 35700 62200 38100 54100 37300 57300
 52000 39400 59000 78300 88400 38000 71400 44000 70500 68600 35300 39900
 36900 44400 73000 57000   800 69100 53200 58500 64200 67700 43300 75400
 27000 56900 29300 62400 44900 38600 62000 33000 36100 30700 53300 63900
 51700 60700 82400 69400 36400 52800 81100 43700 60400 71500 45700 39600
 67400 51000 51600 45500 13100 25500 59900 27100 67000 58600 72700 46500
 29600 34400 61600 34300 40700 82200 37600 51100 48500 56200 56700 59600
 91900 29000 65600 17600 47900 57800 34000 65700 23600 63100 53000 66000
 30400 84900 47800 50500 49700 90700 56400 37900 26900 48900 24400 33300
 42900 75800 57900 72200 64000 28800 20000 38900 68700 58000 51500 53900
 54600 54500 43900 69200 64400 39000 52600 47200 38400 64800 65300 62500
 43400 49900 53500 45300 68500 40600 54800 55600 62700 53100 46400 48800
 42400 25000 31000 70300 46700 52100 54900 35100 60300 41200 24800 77900
 42800 83200 61400 12100 45100 68900 66400 36700 44300 34500 88800 81300
 49600 61500 55400 37800 60000 55200 94800 27500 31900 76000 62800 46300
 51400 25900 55700 56600 47400 71200 52700 54000 41300 58100 41500 81800
 45000 47500 67900]

Capital_Loss :
 [-49200 -59300 -37100      0 -68700 -55600 -39600 -57000 -83900 -31400
 -58100 -77600 -52600 -42100 -51500 -50000 -24400 -31700 -80600 -55300
 -44500 -63900 -51900 -45000 -46500 -70300 -50300 -72300 -71000 -57900
 -22300 -56800 -60200 -53700 -37900 -27300 -79800 -26900 -57700 -53500
 -41000 -71700 -53800 -46800 -32300 -28800 -58400 -47400 -66200 -58900
 -75700 -12100 -39300  -8500 -56900 -91400 -63100 -43600 -33600 -55000
 -67300 -45300 -51000 -43700 -54300 -66000 -65400 -57100 -41500 -88300
 -39100 -42300 -47100 -67800 -77000 -64300 -83200 -67900 -73900 -60600
 -56400 -76000 -38200 -36700 -19700 -42900 -35200 -53600 -13200 -28700
 -68200 -42700 -51800 -54600 -56200 -30200 -24300 -47300 -49400 -37600
 -67400 -33100 -29200 -32100 -66300 -55700 -22400 -73400 -53300 -15600
 -13800 -39700 -72500 -54100 -51100 -54700 -30300 -20800 -74500 -32800
 -40900 -62500 -60500 -10600 -85900 -90200 -41200 -33300 -82700 -48700
 -45100 -31000 -45500 -36900 -38800 -44600 -64000 -37800 -41300 -65600
 -66900 -91200 -19800 -73600 -64700 -20400 -48300 -57500 -64100 -63400
 -24100 -41400 -44200 -46000 -15700 -68900 -46900 -24700 -72900 -62400
 -27900 -36200 -51300 -51200 -39200 -41100 -40600 -74300 -42600 -32500
 -58600 -34400 -41600 -59900 -49500 -54000 -78600 -29900 -61000 -60700
 -54800 -82400 -58500 -45200 -77500 -36600 -38600 -35500 -22200 -38400
 -17000 -50400 -39500 -45800 -47500 -27600 -43800 -55500 -59100 -70200
 -69700 -40300 -30400 -49000 -43200 -56600 -56100]

Garage_Location :
 ['No' 'Yes']

Accident_Date :
 ['1/21/2024' '2/22/2024' '1/2/2024' '1/11/2024' '1/12/2024' '1/8/2024'
 '1/26/2024' '2/27/2024' '3/1/2024' '2/18/2024' '1/24/2024' '2/1/2024'
 '1/30/2024' '1/7/2024' '1/17/2024' '2/20/2024' '2/14/2024' '2/23/2024'
 '2/17/2024' '2/25/2024' '2/21/2024' '1/22/2024' '1/29/2024' '1/19/2024'
 '1/25/2024' '2/24/2024' '1/10/2024' '2/3/2024' '1/18/2024' '1/31/2024'
 '2/16/2024' '1/15/2024' '1/9/2024' '1/27/2024' '1/1/2024' '2/2/2024'
 '2/8/2024' '2/7/2024' '2/28/2024' '2/4/2024' '2/11/2024' '2/6/2024'

In [26]:
for i in auto.columns:
    print(i,':',sum(auto[i]=='?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Fraud_Ind : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [24]:
d=auto.describe(include='all')
d

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
count,20000,20000,20000.000000,20000.000000,2.000000e+04,20000,20000,20000,20000,20000.000000,...,20000.000000,20000.000000,20000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000,20000
unique,20000,13,NaN,NaN,NaN,3,106,107,3,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,20000,1
top,BB00000001,10/1/2022,NaN,NaN,NaN,OH,9/30/2023,3/14/2024,100/300,NaN,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,JP09S1996,No
freq,1,1605,NaN,NaN,NaN,7070,733,544,7226,NaN,...,NaN,NaN,14680,NaN,NaN,NaN,NaN,NaN,1,20000
mean,NaN,NaN,17.981750,38.808850,1.547536e+08,NaN,NaN,NaN,NaN,1192.275000,...,5006.086500,0.196200,NaN,0.019050,13955.770725,4651.548314,4667.726146,4636.496263,NaN,NaN
std,NaN,NaN,3.732548,9.168938,2.573926e+07,NaN,NaN,NaN,NaN,624.769831,...,1742.952097,0.397132,NaN,0.136704,11862.193721,5959.452930,5865.542029,5827.620098,NaN,NaN
min,NaN,NaN,12.000000,19.000000,1.115511e+08,NaN,NaN,NaN,NaN,500.000000,...,2000.000000,0.000000,NaN,0.000000,500.120000,0.000000,0.110000,0.100000,NaN,NaN
25%,NaN,NaN,15.000000,32.000000,1.316976e+08,NaN,NaN,NaN,NaN,500.000000,...,3494.000000,0.000000,NaN,0.000000,6591.232500,1038.667500,1054.360000,1045.575000,NaN,NaN
50%,NaN,NaN,18.000000,38.000000,1.546168e+08,NaN,NaN,NaN,NaN,1000.000000,...,4994.000000,0.000000,NaN,0.000000,12955.465000,2898.245000,2941.675000,2914.490000,NaN,NaN
75%,NaN,NaN,21.000000,44.000000,1.769113e+08,NaN,NaN,NaN,NaN,2000.000000,...,6532.000000,0.000000,NaN,0.000000,19321.622500,6471.670000,6477.152500,6372.217500,NaN,NaN
max,NaN,NaN,24.000000,64.000000,1.999475e+08,NaN,NaN,NaN,NaN,2000.000000,...,8000.000000,1.000000,NaN,1.000000,123940.860000,106148.190000,112952.950000,103664.180000,NaN,NaN

In [25]:
for i in auto.columns:
    auto[i].replace('?',d[i][2],inplace=True)
auto

C:\Users\patro\AppData\Local\Temp\ipykernel_20732\1715559341.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  auto[i].replace('?',d[i][2],inplace=True)

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,BB00000001,11/1/2022,14,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,5683,0,N,0,6208.92,787.12,4184.84,1236.96,JP09S1996,No
1,BB00000002,1/1/2022,24,30,189485666,OH,9/14/2023,3/14/2024,500/1000,1000,...,6695,0,Y,0,15441.40,633.67,7970.99,6836.74,JY94J4803,No
2,BB00000003,11/1/2022,14,52,145849195,IL,10/30/2023,4/30/2024,250/500,1000,...,7130,0,N,0,13560.50,225.07,11033.06,2302.37,HU95F8182,No
3,BB00000004,11/1/2022,14,39,183287405,OH,8/19/2023,2/19/2024,250/500,1000,...,2791,0,Y,0,2777.97,874.48,671.78,1231.71,ME57A7253,No
4,BB00000005,12/1/2022,13,35,180131023,IL,9/25/2023,3/25/2024,100/300,2000,...,7552,0,N,0,3455.36,23.65,3138.90,292.81,AH97U6339,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,BB00019996,2/1/2022,23,26,174806200,IL,9/28/2023,3/28/2024,500/1000,1000,...,6510,0,N,0,9875.94,3696.11,4295.37,1884.46,RN84H5362,No
19996,BB00019997,6/1/2022,19,49,135150142,IL,10/27/2023,4/27/2024,100/300,2000,...,7533,0,N,0,3136.37,1136.86,43.86,1955.65,XM18W4953,No
19997,BB00019998,3/1/2022,22,31,138868192,IL,10/18/2023,4/18/2024,100/300,2000,...,5173,0,N,0,2688.14,97.91,942.91,1647.32,RS49F4333,No
19998,BB00019999,9/1/2022,16,41,188900315,OH,8/6/2023,2/6/2024,100/300,2000,...,6604,1,Y,0,13243.07,3826.27,5050.61,4366.19,TX93G1636,No
19999,BB00020000,9/1/2022,16,41,190136132,IL,9/30/2023,3/30/2024,500/1000,500,...,2845,0,N,0,570.61,26.75,489.18,54.68,DM88X8916,No

In [27]:
for i in auto.columns:
    print(i,':',sum(auto[i]=='?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Fraud_Ind : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [28]:
auto.dtypes

Claim_ID                     object
Bind_Date1                   object
Customer_Life_Value1          int64
Age_Insured                   int64
Policy_Num                    int64
Policy_State                 object
Policy_Start_Date            object
Policy_Expiry_Date           object
Policy_BI                    object
Policy_Ded                    int64
Policy_Premium              float64
Umbrella_Limit                int64
Insured_Zip                   int64
Gender                       object
Education                    object
Occupation                   object
Hobbies                      object
Insured_Relationship         object
Capital_Gains                 int64
Capital_Loss                  int64
Garage_Location              object
Accident_Date                object
Accident_Type                object
Collision_Type               object
Accident_Severity            object
authorities_contacted        object
Acccident_State              object
Acccident_City               object
Accident_Location            object
Accident_Hour                 int64
Num_of_Vehicles_Involved      int64
Property_Damage              object
Bodily_Injuries               int64
Witnesses                     int64
Police_Report                object
DL_Expiry_Date               object
Claims_Date                  object
Auto_Make                    object
Auto_Model                   object
Auto_Year                     int64
Vehicle_Color                object
Vehicle_Cost                float64
Annual_Mileage                int64
DiffIN_Mileage                int64
Low_Mileage_Discount          int64
Fraud_Ind                    object
Commute_Discount              int64
Total_Claim                 float64
Injury_Claim                float64
Property_Claim              float64
Vehicle_Claim               float64
Vehicle_Registration         object
Check_Point                  object
dtype: object

In [29]:
auto.describe(include='all')
auto

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,BB00000001,11/1/2022,14,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,5683,0,N,0,6208.92,787.12,4184.84,1236.96,JP09S1996,No
1,BB00000002,1/1/2022,24,30,189485666,OH,9/14/2023,3/14/2024,500/1000,1000,...,6695,0,Y,0,15441.40,633.67,7970.99,6836.74,JY94J4803,No
2,BB00000003,11/1/2022,14,52,145849195,IL,10/30/2023,4/30/2024,250/500,1000,...,7130,0,N,0,13560.50,225.07,11033.06,2302.37,HU95F8182,No
3,BB00000004,11/1/2022,14,39,183287405,OH,8/19/2023,2/19/2024,250/500,1000,...,2791,0,Y,0,2777.97,874.48,671.78,1231.71,ME57A7253,No
4,BB00000005,12/1/2022,13,35,180131023,IL,9/25/2023,3/25/2024,100/300,2000,...,7552,0,N,0,3455.36,23.65,3138.90,292.81,AH97U6339,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,BB00019996,2/1/2022,23,26,174806200,IL,9/28/2023,3/28/2024,500/1000,1000,...,6510,0,N,0,9875.94,3696.11,4295.37,1884.46,RN84H5362,No
19996,BB00019997,6/1/2022,19,49,135150142,IL,10/27/2023,4/27/2024,100/300,2000,...,7533,0,N,0,3136.37,1136.86,43.86,1955.65,XM18W4953,No
19997,BB00019998,3/1/2022,22,31,138868192,IL,10/18/2023,4/18/2024,100/300,2000,...,5173,0,N,0,2688.14,97.91,942.91,1647.32,RS49F4333,No
19998,BB00019999,9/1/2022,16,41,188900315,OH,8/6/2023,2/6/2024,100/300,2000,...,6604,1,Y,0,13243.07,3826.27,5050.61,4366.19,TX93G1636,No
19999,BB00020000,9/1/2022,16,41,190136132,IL,9/30/2023,3/30/2024,500/1000,500,...,2845,0,N,0,570.61,26.75,489.18,54.68,DM88X8916,No

In [86]:
import pandas as pd
import numpy as np

In [87]:
abhi=pd.read_csv(r"C:\Users\patro\Downloads\Auto_Insurance_Fraud_Claims_File01.csv")
abhi

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,AA00000001,1/1/2023,12,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,2499,0,N,0,6162.56,714.94,5370.74,76.88,IF47V1395,No
1,AA00000002,1/1/2023,12,31,129044473,IL,10/21/2023,4/21/2024,250/500,500,...,4242,1,N,0,20402.38,7669.31,5708.22,7024.85,EI51L7783,No
2,AA00000003,7/1/2022,18,50,146863149,OH,11/26/2023,5/26/2024,500/1000,500,...,2346,0,N,0,10839.12,3646.11,3468.94,3724.07,MU37B8905,No
3,AA00000004,1/1/2023,12,37,163100869,IL,8/8/2023,2/8/2024,500/1000,1000,...,2425,0,Y,0,17423.88,5585.62,1863.46,9974.80,RI52Q2108,No
4,AA00000005,3/1/2022,22,28,185582958,OH,11/12/2023,5/12/2024,250/500,1000,...,3890,1,N,0,24527.38,7224.79,3074.12,14228.47,UX39O9355,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,AA00039996,4/1/2022,21,41,172942578,IL,9/22/2023,3/22/2024,250/500,1000,...,7701,0,Y,0,20237.87,11144.27,8766.96,326.64,MW01M5376,No
39996,AA00039997,3/1/2022,22,35,172923725,IL,8/11/2023,2/11/2024,500/1000,1000,...,3850,0,N,0,6414.64,3827.30,1292.39,1294.95,JL94U7211,No
39997,AA00039998,9/1/2022,16,36,150605464,IL,9/20/2023,3/20/2024,500/1000,2000,...,2959,0,N,0,1569.74,70.74,497.39,1001.61,CJ70W1494,No
39998,AA00039999,6/1/2022,19,26,112928572,IL,10/3/2023,4/3/2024,250/500,1000,...,2641,0,Y,0,16628.75,534.44,9268.58,6825.73,GI44P0705,No
39999,AA00040000,1/1/2022,24,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,4627,0,N,0,534.66,115.40,68.86,350.40,TS11D6570,No

In [88]:
abhi.isnull().sum()

Claim_ID                        0
Bind_Date1                      0
Customer_Life_Value1            0
Age_Insured                     0
Policy_Num                      0
Policy_State                    0
Policy_Start_Date               0
Policy_Expiry_Date              0
Policy_BI                       0
Policy_Ded                      0
Policy_Premium                  0
Umbrella_Limit                  0
Insured_Zip                     0
Gender                          0
Education                       0
Occupation                      0
Hobbies                         0
Insured_Relationship            0
Capital_Gains                   0
Capital_Loss                    0
Garage_Location                 0
Accident_Date                   0
Accident_Type                   0
Collision_Type                  0
Accident_Severity               0
authorities_contacted        3600
Acccident_State                 0
Acccident_City                  0
Accident_Location               0
Accident_Hour                   0
Num_of_Vehicles_Involved        0
Property_Damage                 0
Bodily_Injuries                 0
Witnesses                       0
Police_Report               13716
DL_Expiry_Date                  0
Claims_Date                     0
Auto_Make                       0
Auto_Model                      0
Auto_Year                       0
Vehicle_Color                   0
Vehicle_Cost                    0
Annual_Mileage                  0
DiffIN_Mileage                  0
Low_Mileage_Discount            0
Fraud_Ind                       0
Commute_Discount                0
Total_Claim                     0
Injury_Claim                    0
Property_Claim                  0
Vehicle_Claim                   0
Vehicle_Registration            0
Check_Point                     0
dtype: int64

In [89]:
abhi.dtypes

Claim_ID                     object
Bind_Date1                   object
Customer_Life_Value1          int64
Age_Insured                   int64
Policy_Num                    int64
Policy_State                 object
Policy_Start_Date            object
Policy_Expiry_Date           object
Policy_BI                    object
Policy_Ded                    int64
Policy_Premium              float64
Umbrella_Limit                int64
Insured_Zip                   int64
Gender                       object
Education                    object
Occupation                   object
Hobbies                      object
Insured_Relationship         object
Capital_Gains                 int64
Capital_Loss                  int64
Garage_Location              object
Accident_Date                object
Accident_Type                object
Collision_Type               object
Accident_Severity            object
authorities_contacted        object
Acccident_State              object
Acccident_City               object
Accident_Location            object
Accident_Hour                 int64
Num_of_Vehicles_Involved      int64
Property_Damage              object
Bodily_Injuries               int64
Witnesses                     int64
Police_Report                object
DL_Expiry_Date               object
Claims_Date                  object
Auto_Make                    object
Auto_Model                   object
Auto_Year                     int64
Vehicle_Color                object
Vehicle_Cost                float64
Annual_Mileage                int64
DiffIN_Mileage                int64
Low_Mileage_Discount          int64
Fraud_Ind                    object
Commute_Discount              int64
Total_Claim                 float64
Injury_Claim                float64
Property_Claim              float64
Vehicle_Claim               float64
Vehicle_Registration         object
Check_Point                  object
dtype: object

In [91]:
for i in abhi.columns:
    print(i,':','\n',abhi[i].unique(),'\n')

Claim_ID :
 ['AA00000001' 'AA00000002' 'AA00000003' ... 'AA00039998' 'AA00039999'
 'AA00040000']

Bind_Date1 :
 ['1/1/2023' '7/1/2022' '3/1/2022' '8/1/2022' '2/1/2022' '11/1/2022'
 '5/1/2022' '10/1/2022' '9/1/2022' '12/1/2022' '6/1/2022' '1/1/2022'
 '4/1/2022']

Customer_Life_Value1 :
 [12 18 22 17 23 14 20 15 16 13 19 24 21]

Age_Insured :
 [28 31 50 37 32 40 61 44 30 43 55 34 46 29 47 39 38 54 26 64 27 33 36 57
 23 48 52 25 60 41 35 45 59 49 51 24 21 53 42 56 58 22 20 62 63 19]

Policy_Num :
 [123790687 129044473 146863149 163100869 185582958 189063232 145356955
 193384481 120145403 133676496 199046488 140353487 135534304 136907088
 173927158 192848218 176785687 136881491 118535855 178634265 115686952
 193202095 170715776 121615489 165534839 122661309 134557207 146508321
 124517295 153939978 116177756 195008314 173636722 145741386 123524070
 191413048 111441676 131430740 193460365 118010202 113382369 190032069
 180369631 193394941 118899557 124064977 186486766 132071308 142602464
 116207253 191223127 186191503 143143181 123224691 171568812 170713782
 149741531 138067338 122268076 117542295 135498813 151730439 176039835
 131328084 158002009 194481092 141887191 152535080 155307986 156502010
 136048693 134042831 197406846 136994834 192932240 114242736 192655452
 117420539 176128693 150516600 134017608 181224660 158194506 142151828
 191768259 190300988 128674861 123078089 120528994 147514137 188065828
 174100991 127866295 173872019 137786504 187343408 155106800 125477176
 186872698 142885999 173185429 170880246 145322777 150485518 188103299
 199815585 189564761 129295479 179882994 150776684 175151112 127698755
 173169710 158529515 129223079 172291926 132259155 113909228 181889275
 190445958 176209328 175613313 183603337 158610269 113462733 187059512
 167957751 125476380 137113781 195052107 119197896 140485208 134451502
 172849356 193209266 118379385 127845548 191281978 125229429 153960227
 177246542 176411417 136087606 184554555 197200586 172177517 142642201
 188272973 161911066 139439351 137334987 192106705 137776031 152564225
 172611402 118987931 122827979 178610842 146070106 126357916 158867749
 197172248 114293630 125910409 121380577 180131023 112663606 174799038
 161709644 197939669 119747136 151238150 195444446 195169422 123735305
 165644709 117387343 186497234 159458719 172711092 123798547 169245866
 197839377 176589090 147847081 137885889 180523543 176423556 185806671
 123482973 192210025 138685720 129165379 189881960 126758724 113527370
 125016604 164466083 123024123 169341634 152272811 178841304 125881673
 180952556 159331373 171891288 176745426 176750522 129900026 179744434
 138313819 114860710 124964517 171474287 154616785 156536910 170154438
 196877995 192165611 151343096 172006552 155933206 162351662 170840789
 112722263 139056443 112946220 197229123 159128174 122566697 189485666
 196001519 155335776 130401440 128906675 188912727 193919047 185597331
 168064262 194016858 145887486 117812103 128922398 171785217 178894630
 174116509 157753254 195588539 172933327 126006191 148296327 132826187
 171848718 158600613 155103686 149424229 128968683 196086417 136711536
 199511065 134976201 160197823 180920108 182444889 143006046 131837943
 133160388 161946270 143394022 173219957 136589389 160983937 137030747
 126661316 188359064 159718954 193011978 140381984 185544294 123323997
 146766276 162371914 189098464 111297648 125209382 167990246 135046018
 111551060 137786293 185653783 116034149 138070787 123330533 167287420
 125065209 164874452 148035949 161934737 163102213 149096999 121867407
 186931019 126680405 179795405 123004117 150709052 169059110 151050596
 151662260 177636241 198791045 176911189 175830000 193674028 179740441
 116585107 112928572 131951443 116143586 165553808 175864545 142472845
 131430472 127906831 124813354 142465414 186384798 156163529 182768012
 139213359 126809265 151616278 171950632 173846132 194487391 138596366
 187218777 113513395 125917590 166457644 145647240 124317604 156866667
 179521640 144010008 160917171 182771525 177611022 164784750 136866872
 186217588 149336533 187583322 112190907 114101282 156288222 163217494
 145901048 161381273 191063657 188485320 162826137 123821451 198391456
 175861397 155881127 151882602 178077066 163154037 171295258 148100670
 197788122 118067750 162613385 130805730 113852720 151049882 139293433
 136927177 155203481 160717500 195053320 172171760 150789151 160532697
 141923376 188900315 125446216 176324971 162583722 111178904 180533664
 116890698 167119573 123707951 124196894 172799953 175492478 144968663
 150511023 144155768 127520192 190426353 199665782 182949840 180878454
 121363047 175281017 131825199 167447634 168340219 152842006 177064670
 119254098 192086809 125291877 185543499 143048083 130028822 139294276
 176476271 173356247 170448977 128026607 191463613 176718161 177575420
 149070277 147531748 127443685 195554845 137248304 114540338 137535155
 131885485 113498791 136055692 116429059 157501644 133962793 120466241
 121138447 179956349 157197376 177957543 141836017 118628508 133740664
 131930200 114478402 170036244 170138025 143043101 132638383 162392844
 124153292 182159491 151346457 175070510 175275643 147975573 183891562
 159146319 144882101 150990934 150020420 112610727 120822745 174746314
 166371465 155039649 197153384 169216837 139016925 126099979 175862964
 186212909 145849195 117118080 191307210 139272053 198863429 129436508
 115872130 183873966 150422805 185295646 197860177 127330401 122753942
 186285043 151696874 183559989 125774862 190405652 134798085 143831003
 175017203 163232795 125392954 196350244 157274234 160686502 127684391
 130671263 183225407 128027082 146575922 172183067 146633162 135658402
 136223959 159975397 161802145 134533022 161406915 135463054 161919433
 199947527 118581583 131943285 144654514 145821843 181473902 130799857
 119066187 122549686 127796560 140787247 116405194 145445395 140901106
 179228923 161842049 168385705 131328876 176721642 128336762 195951238
 138868192 163980719 198548090 162599699 133028627 140998482 134331794
 189709556 188162070 156839274 119396376 135663909 181884716 190136132
 129813732 194597775 165915869 148850681 159578758 118449042 132799887
 181844627 180025847 195440334 153775902 170125042 127977212 112265654
 118799641 113551782 143768703 198024066 134532179 195667914 182095361
 183241658 123757423 137877010 114489761 126712418 177398661 130159874
 193626051 118389205 130784784 162824933 151939551 146770587 189262342
 118524492 159161945 136877893 175780069 118078704 122673696 181008782
 175266940 179708145 167678142 179083081 151349282 122759328 184214449
 121152247 191220173 167524088 123448615 125053331 141831461 161182160
 146473747 128681094 182277587 129302458 140238228 129820454 116109178
 164634921 186411747 190489884 122756960 140456031 157850626 168661931
 165332680 162601166 129938348 118449744 184584586 133223123 122582523
 125626184 196181675 177957050 196118737 138893541 180369012 116375016
 139584049 149185973 129280754 141491725 127736338 197245530 195285216
 172509341 131785986 182333499 119283116 172729783 122765242 178023754
 193420957 198428325 178698722 130224439 124764206 115846653 187449184
 118534588 197359502 164266140 135109736 184449082 117967573 138874833
 131028005 132596520 166382534 170546195 129099483 155343292 154596559
 169885937 194748362 198569811 115038909 162497125 130807958 156644355
 181633846 114199383 199793575 138920348 156249672 124353500 148327241
 152336068 163321110 142778204 197963394 123053427 124681975 171651290
 131790724 191579764 182177482 133197285 133169328 125120137 131021432
 139620673 199704644 179715851 157765207 172848583 151000413 123000811
 145532478 141035810 111823129 185742341 199485035 189560103 172345771
 132574892 150394074 131584489 195825471 169420143 127554213 121423982
 112120203 173141160 175250327 133631657 121113661 164094126 194977243
 195357995 148376424 157026243 131283350 133085335 141377471 186150834
 149076868 199133595 199930219 160252789 182751813 157260880 127299878
 136209658 182951666 190955636 169800390 142025673 124553063 165905112
 171249050 122928967 183020206 115447038 164654938 170739323 169476627
 133064036 148118250 191019191 125523700 189651767 115051436 190827157
 139642812 120135138 123224943 192810354 176911278 191764387 143767100
 142935401 174093059 174897443 196261502 143361646 131166911 115614013
 176154964 150605464 166924727 120021090 182849748 122073424 129419980
 189948150 141493129 159798107 195814830 194253908 135166716 131697556
 130038190 165322242 132665261 160976313 145905841 139323465 142825108
 189368624 151294641 179326304 195310704 165892156 172942578 182347086
 150758732 145391443 172691837 180572284 180726813 156556702 120282075
 176316118 186004749 122696106 159408083 162452069 132196345 190192321
 112491592 181806976 135150142 194123332 124598253 119509202 139206974
 126503261 143146872 133326032 189723037 180129020 177348613 184956663
 153319988 191941518 145604801 183287405 193783033 172923725 188082513
 120360617 196890489 128517411 132785884 117343941 174806200 151609479
 160466839 173298445 179797767 158942066 159195415 142565895 131360475
 154852993 112117835 159116111 124355690 114520524 144634157 113051535
 124951255 121381476 127730968 193455181 157114933 146166629 193728583
 185783307 140072195 145133437 171718422 180782065 122888917 178574281
 129141823 133438366 162220470 156968197 181910518 196292559 182970222
 162353226 195715980 153069911 115429205 172299002 133661485 124713754
 140035713 144911141 191189321 174330395 115762205 190990206 190849974
 138421802 164576011 187343539 157974776 123389112 158303184 117537150
 156713212 128639149 170119038 168468599 115607484 111424913 155433363
 188323029 163250953 180638616 142467430 181298114 144644491 167006475
 147879334 169811488 115577584 159020103 197028908 189733923 136753832
 180703578 152682635 151014063 164804344 160647039 138502929 148765783
 122875416 135836063 179333363 142506319 191002312 142162415 185574913
 197255523 171837003 193465286 143529699 163667595 190327395 127416279
 139184767 115556146 177480568 119726986 118378039 193354702 165085647
 191289049 161930444 148418282 150613787 121029656 191469304 160261147
 147191902 149355479 113288129 171996875 196330500 153697216 143069121
 188073419 146653179 116502381 119654547 144526085 160990531 125383926
 169959238 160543148 138623476 117332412 163884615 122016971 140556721
 189062069 189721968 188164720 178764807 168111273 125104327 186455333
 147340975 166358801 176890509 187591129 136332989 173184605 190792514
 149873176 135896328 133858272 186333039 128764574 162240109]

Policy_State :
 ['OH' 'IL' 'IN']

Policy_Start_Date :
 ['10/13/2023' '10/21/2023' '11/26/2023' '8/8/2023' '11/12/2023'
 '11/6/2023' '10/16/2023' '10/14/2023' '8/26/2023' '10/5/2023'
 '11/15/2023' '9/12/2023' '9/14/2023' '8/28/2023' '11/4/2023' '10/18/2023'
 '9/4/2023' '9/19/2023' '9/17/2023' '10/24/2023' '9/11/2023' '9/8/2023'
 '10/2/2023' '9/20/2023' '10/26/2023' '9/7/2023' '10/9/2023' '10/15/2023'
 '9/18/2023' '9/29/2023' '9/28/2023' '9/21/2023' '11/2/2023' '9/24/2023'
 '9/13/2023' '8/19/2023' '10/1/2023' '10/30/2023' '9/22/2023' '10/22/2023'
 '8/25/2023' '9/23/2023' '8/29/2023' '8/14/2023' '10/4/2023' '10/17/2023'
 '9/30/2023' '10/20/2023' '11/9/2023' '8/12/2023' '10/6/2023' '8/15/2023'
 '8/22/2023' '8/17/2023' '8/6/2023' '10/25/2023' '8/16/2023' '8/10/2023'
 '11/5/2023' '9/16/2023' '10/8/2023' '9/5/2023' '10/11/2023' '10/12/2023'
 '9/27/2023' '11/3/2023' '10/19/2023' '8/18/2023' '10/23/2023' '8/13/2023'
 '8/21/2023' '7/1/2023' '9/25/2023' '10/3/2023' '11/1/2023' '10/7/2023'
 '8/23/2023' '9/26/2023' '8/27/2023' '9/10/2023' '11/8/2023' '8/11/2023'
 '11/10/2023' '11/24/2023' '9/15/2023' '9/6/2023' '9/1/2023' '8/20/2023'
 '11/19/2023' '11/11/2023' '8/24/2023' '11/16/2023' '10/27/2023'
 '10/10/2023' '11/18/2023' '11/21/2023' '10/28/2023' '9/9/2023'
 '10/29/2023' '11/14/2023' '11/23/2023' '11/17/2023' '11/13/2023'
 '9/3/2023' '8/3/2023' '9/2/2023' '11/7/2023' '11/20/2023' '8/1/2023'
 '8/9/2023' '7/4/2023' '11/30/2023']

Policy_Expiry_Date :
 ['4/13/2024' '4/21/2024' '5/26/2024' '2/8/2024' '5/12/2024' '5/6/2024'
 '4/16/2024' '4/14/2024' '2/26/2024' '4/5/2024' '5/15/2024' '3/12/2024'
 '3/14/2024' '2/28/2024' '5/4/2024' '4/18/2024' '3/4/2024' '3/19/2024'
 '3/17/2024' '4/24/2024' '3/11/2024' '3/8/2024' '4/2/2024' '3/20/2024'
 '4/26/2024' '3/7/2024' '4/9/2024' '4/15/2024' '3/18/2024' '3/29/2024'
 '3/28/2024' '3/21/2024' '5/2/2024' '3/24/2024' '3/13/2024' '2/19/2024'
 '4/1/2024' '4/30/2024' '3/22/2024' '4/22/2024' '2/25/2024' '3/23/2024'
 '2/29/2024' '2/14/2024' '4/4/2024' '4/17/2024' '3/30/2024' '4/20/2024'
 '5/9/2024' '2/12/2024' '4/6/2024' '2/15/2024' '2/22/2024' '2/17/2024'
 '2/6/2024' '4/25/2024' '3/31/2024' '2/16/2024' '2/10/2024' '5/5/2024'
 '3/16/2024' '4/8/2024' '3/5/2024' '4/11/2024' '4/12/2024' '3/27/2024'
 '5/3/2024' '4/19/2024' '2/18/2024' '4/23/2024' '2/13/2024' '2/21/2024'
 '1/1/2024' '3/25/2024' '4/3/2024' '5/1/2024' '4/7/2024' '2/23/2024'
 '3/26/2024' '2/27/2024' '3/10/2024' '5/8/2024' '2/11/2024' '5/10/2024'
 '5/24/2024' '3/15/2024' '3/6/2024' '3/1/2024' '2/20/2024' '5/19/2024'
 '5/11/2024' '2/24/2024' '5/16/2024' '4/27/2024' '4/10/2024' '5/18/2024'
 '5/21/2024' '4/28/2024' '3/9/2024' '4/29/2024' '5/14/2024' '5/23/2024'
 '5/17/2024' '5/13/2024' '3/3/2024' '2/3/2024' '3/2/2024' '5/7/2024'
 '5/20/2024' '2/1/2024' '2/9/2024' '1/4/2024' '5/30/2024']

Policy_BI :
 ['500/1000' '250/500' '100/300']

Policy_Ded :
 [1000  500 2000]

Policy_Premium :
 [ 986.53 1163.83  889.13 1060.74 1235.14 1592.41 1463.95  988.93 1612.43
 1361.45 1137.16 1280.88  951.46 1508.12 1399.27 1607.36 1706.79 1372.18
 1726.91  935.77 1386.93 1231.98 1006.77 1829.63 1495.1  1199.44 1388.62
 1275.81  835.02 1238.65 1164.97 1306.78 1342.8  1488.02  969.88 1524.45
  709.14 1463.07 1376.16 1215.85 1304.35 1362.87 1099.95  942.51 1922.84
 1173.37 1757.21 1538.6  1299.18 1335.13 1459.99 1003.15 1008.79 1203.17
 1358.2  1302.4  1106.84 1212.07 1053.24 1123.84  873.64 1080.13  722.66
  991.39  984.45 1414.74 1073.83 1190.6  1171.75  766.19  999.43  919.37
 1366.42 1198.44  795.23 1115.81 1083.64 1234.2  1347.04 1800.76 1338.55
  433.33  982.7  1525.86 1232.57  964.92 1348.83 1483.25 1194.   1152.12
 1394.43 1437.88  862.92 1568.47 1264.77 1564.43 1143.46 1054.92 1422.56
 1262.08 1373.21  854.58 1483.91 1586.41 1301.13 1117.42 1183.48 1124.43
 1443.32 1226.78 1392.39 1326.98 1313.33  988.06 1042.25 1615.14 1551.61
 1377.94 1142.62 1298.85  964.79 1340.24  625.08 1223.39  915.41 1567.37
 1148.58 1687.53 1737.66 1078.65 1153.49  914.22 1064.49  653.66  912.29
 1387.51 1005.47 1058.21 1354.83 1464.42  782.23 1479.48 1140.91 1365.46
 1167.3  1320.39 1220.71 1331.94  968.46 1216.68 1433.42 1060.88 1601.47
 1038.09 1248.05 1090.65 1232.79 1537.13 1096.39 1508.9  1295.63 1442.27
 1035.99 1187.53 1427.46 1219.04 1401.2  1229.16 1097.99 1137.03 1037.32
 1326.62 1402.75 1312.22 1004.14 1300.68 1382.88 1291.7  1294.93 1451.62
 1482.53  944.03 1387.35 1158.03 1559.34 1631.1  1000.06 1413.14 1246.68
 1251.65 1153.35  793.15 1451.01 1393.57  785.82 1558.29 1021.9  1337.56
  719.52 1338.54 1351.72 1437.33 1125.4  1664.66 1624.82  984.02 1194.83
 1239.22 1641.73 1685.69 1322.78  836.11 1344.36 1595.07 1203.24 1540.19
 1757.87 1030.95 1042.56 1046.58 1231.25 1390.89 1518.46 1276.43 1070.63
 1412.76 1340.43  974.16 1411.3  1166.54 1412.06 1558.86 1609.11  795.31
  773.99 1111.72 1333.97 1827.38  876.88 1093.83 1103.58  987.42 1514.72
 1083.01 1486.04 1439.9  1379.93 1594.37 1459.5  1056.71  920.3   968.74
 1793.16 1532.8  1576.41 1239.06 1260.32 1453.95 1219.94 1267.81 1042.26
  951.27 1407.01 1367.99 1302.34 1538.26 1429.96 1277.25 1304.83  966.26
 1326.44 1425.79 1207.36 1573.93 1377.23 1655.79 1046.71 1017.97  958.3
 1048.46  765.64 1104.5  1405.71 1261.28 1141.71 1389.86 1012.78  936.61
 1422.78 1500.04 1310.76 1124.6  1390.72 1255.35  848.07 1278.75 1497.35
 1074.07 1264.99 1270.21 1457.65 1028.44 1075.18 1050.76 1896.91 1216.56
 1173.21 1270.29 1034.27 1366.39 1516.34  904.7  1140.15 1259.02 1446.98
 1252.08  927.23 1611.83 1307.11 1083.72 1340.71 1189.04 1327.41 1255.68
  976.67 1425.54 1334.15 1233.85 1328.18 1304.46 1193.4  1632.93 1047.06
 1512.58 1734.09 1273.7  1221.41 1141.35 1520.78 1268.79 1441.6  1342.02
 1266.92 1575.86 1153.54 1594.45 1388.58  956.69 1079.92 1361.16 1343.
  763.67  954.18 1588.55 1198.15  814.96 1315.68 1003.23 1375.29 1433.24
 1436.79  949.44 1488.26 1251.16 1556.31 1290.74 1039.55 1439.34 1575.74
 1260.56 1185.44  736.07  903.32 1352.83 1324.78  976.37 1346.18 1681.01
 1123.89 1440.68  862.19 1145.85 1328.26 1537.07 1221.22 1312.75 1448.84
 1672.88 1222.48 1188.28  929.7  1240.47 1330.39  870.55 1406.91 1332.07
 1415.74 1497.41 1189.98  870.63 1212.12 1588.26 1311.3  1381.14  809.11
 1255.62  840.95  999.52 1471.44  989.97 1665.45 1363.77 1740.57  671.01
 1107.59 1589.54 1331.69 1395.77  671.92 1523.17 1339.39 1370.92  900.02
  840.81 1209.41 1205.86 1119.29 1649.18 1459.96 1581.27  932.14 1212.75
 1608.34 1272.46 1435.09 1356.92 1861.43 1690.27 1848.81 1307.68 1447.78
 1521.55 1722.5  1129.23 1459.93 1200.09 1396.89 1263.48 1181.64 1221.14
 1128.71 1055.09 1340.56 1009.37 1363.59 1693.63 1625.65 1155.38 1305.26
 1177.57 1524.18 1188.45 1467.76 1242.02 1530.52 1074.47 1352.31 1138.42
 1399.85 1209.63 1202.75 1052.85 1298.91 1482.57  769.95 1242.96 1348.32
 1472.43  978.46 1301.72  993.51 1422.95 1136.83 1527.95 1269.64 1111.17
 1021.14 1203.81 1356.64  895.83  912.3  1653.32 1393.34 1533.71 1141.62
 1728.56 1255.02 1011.92 1172.82 1471.24 1722.95 1441.21 1101.85 1270.02
 1338.4  1454.43 1555.94 1374.22 1396.43 1368.57  802.24 1281.72 1526.11
 1628.   1453.61 1480.79 1105.49 1082.72 1218.56 1622.67 1698.51 1191.19
 1667.83  973.8  1108.97 1270.55  768.91 1133.85 1267.4   484.67 1197.71
 1187.01 1281.25 1234.69 1355.08 1246.03 1018.73 1354.2  1055.6  1274.7
 1155.53 1927.87 1493.5  1148.73 1694.09 1212.   1282.93 1555.52 1337.92
 1222.75 1097.64 1422.21 1197.22 1310.8   979.26 1096.79 1257.    894.4
 1055.53 1007.28 1295.87 1040.75 1474.17 1265.72 1022.46 1347.31 1200.33
 1134.08 1286.44 1603.42 1319.97 1173.25 1294.04  985.97  617.11 1245.61
 1733.56 1053.04 1245.89  947.75 1362.64 1474.66 1202.28  951.56 1322.1
 1620.89 1325.44 1475.73 1437.53 1389.59 1115.27  979.73 1495.06 1464.03
 1243.84 1517.54 1396.83 1540.91 1341.24 1174.14 1353.53 1166.62 1402.78
 1082.36  995.7  1398.94 1359.36 1119.23  767.14 1059.52  988.29 1319.81
 1124.47 1609.67  538.17 1416.08 1935.85 1178.95 1455.65 1616.26 1711.72
 1865.83 1241.04  830.31 1256.2  1587.96  989.24  998.19 1515.3  1019.44
  914.85 1124.38  708.64 1195.01 1326.   1469.75 1209.07 1377.04 1333.35
  770.76 1114.68 1434.27 1384.64  871.46 1648.   1412.31 1169.62 1450.98
 1053.02 1192.04 1427.14 1518.54 1489.24 1434.51 1191.5  1384.51 1090.03
 1313.51 1459.97 1292.3  1294.41 1170.53 1320.75 1380.89 1013.61 1236.32
 1247.87 1101.51 1297.75 1562.8  1101.83 1090.32 1257.83 1405.99 1253.12
 1008.38 1168.2  1285.09  845.16 1457.21 1072.62 1250.08 1241.97 1354.5
 1570.77 1193.45 1358.91 1400.74 1151.39 1143.06 1337.28  566.11  977.4
 1132.74 1257.36  994.74 2047.59 1082.1  1543.68 1268.35  694.45 1132.47
 1389.13 1448.54 1506.21 1362.29 1318.06 1057.77 1315.56 1117.04 1307.74
 1277.12 1730.49 1010.77 1141.1  1066.7  1231.01 1625.45 1468.82 1395.58
 1248.25 1482.14 1048.39 1362.31 1442.99 1338.5  1275.62 1045.12 1221.17
 1618.65 1051.67 1122.95 1181.46 1317.97 1035.79 1616.58  990.98  972.47
 1114.23 1274.63  875.15  995.55 1316.63 1353.33 1091.73  915.29 1140.31
 1137.02 1281.07 1475.93 1430.8  1175.51 1391.63 1144.3  1314.6  1239.55
 1112.04 1276.73 1712.68 1276.57  920.81  924.72  969.5  1532.47 1254.18
 1097.57 1304.67 1484.72 1134.91 1381.88 1451.54 1390.29 1318.24 1585.54
 1570.86 1139.   1724.46 1257.04 1233.96  803.36 1192.27 1185.78 1383.13
 1219.27 1161.31 1124.69  823.17 1088.34  897.89  945.73 1269.76 1118.58

In [93]:
for i in abhi.columns:
    print(i, ':', sum(abhi[i] == '?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Fraud_Ind : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [94]:
d=abhi.describe(include='all')
d

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
count,40000,40000,40000.000000,40000.00000,4.000000e+04,40000,40000,40000,40000,40000.000000,...,40000.00000,40000.000000,40000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000,40000
unique,40000,13,NaN,NaN,NaN,3,112,113,3,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,40000,1
top,AA00000001,9/1/2022,NaN,NaN,NaN,OH,9/30/2023,4/1/2024,250/500,NaN,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,IF47V1395,No
freq,1,3148,NaN,NaN,NaN,14126,1109,873,14047,NaN,...,NaN,NaN,30120,NaN,NaN,NaN,NaN,NaN,1,40000
mean,NaN,NaN,17.999275,38.94535,1.550135e+08,NaN,NaN,NaN,NaN,1135.162500,...,4991.53050,0.190600,NaN,0.019575,13951.283480,4624.433111,4668.091494,4658.758876,NaN,NaN
std,NaN,NaN,3.745481,9.13496,2.599983e+07,NaN,NaN,NaN,NaN,611.082387,...,1733.42801,0.392779,NaN,0.138536,11716.935093,5691.882172,5798.008248,5955.153398,NaN,NaN
min,NaN,NaN,12.000000,19.00000,1.111789e+08,NaN,NaN,NaN,NaN,500.000000,...,2000.00000,0.000000,NaN,0.000000,500.500000,0.100000,0.120000,0.050000,NaN,NaN
25%,NaN,NaN,15.000000,32.00000,1.316976e+08,NaN,NaN,NaN,NaN,500.000000,...,3476.00000,0.000000,NaN,0.000000,6738.325000,1069.505000,1058.970000,1069.015000,NaN,NaN
50%,NaN,NaN,18.000000,38.00000,1.546168e+08,NaN,NaN,NaN,NaN,1000.000000,...,4998.00000,0.000000,NaN,0.000000,12978.850000,2935.560000,2946.640000,2931.140000,NaN,NaN
75%,NaN,NaN,21.000000,44.00000,1.779575e+08,NaN,NaN,NaN,NaN,2000.000000,...,6479.25000,0.000000,NaN,0.000000,19272.135000,6432.657500,6486.457500,6434.280000,NaN,NaN
max,NaN,NaN,24.000000,64.00000,1.999475e+08,NaN,NaN,NaN,NaN,2000.000000,...,8000.00000,1.000000,NaN,1.000000,124800.150000,110881.290000,109176.920000,123443.920000,NaN,NaN

In [95]:
for i in abhi.columns:
    abhi[i].replace('?',d[i][2],inplace=True)
abhi

C:\Users\patro\AppData\Local\Temp\ipykernel_20732\1883622515.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abhi[i].replace('?',d[i][2],inplace=True)

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,AA00000001,1/1/2023,12,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,2499,0,N,0,6162.56,714.94,5370.74,76.88,IF47V1395,No
1,AA00000002,1/1/2023,12,31,129044473,IL,10/21/2023,4/21/2024,250/500,500,...,4242,1,N,0,20402.38,7669.31,5708.22,7024.85,EI51L7783,No
2,AA00000003,7/1/2022,18,50,146863149,OH,11/26/2023,5/26/2024,500/1000,500,...,2346,0,N,0,10839.12,3646.11,3468.94,3724.07,MU37B8905,No
3,AA00000004,1/1/2023,12,37,163100869,IL,8/8/2023,2/8/2024,500/1000,1000,...,2425,0,Y,0,17423.88,5585.62,1863.46,9974.80,RI52Q2108,No
4,AA00000005,3/1/2022,22,28,185582958,OH,11/12/2023,5/12/2024,250/500,1000,...,3890,1,N,0,24527.38,7224.79,3074.12,14228.47,UX39O9355,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,AA00039996,4/1/2022,21,41,172942578,IL,9/22/2023,3/22/2024,250/500,1000,...,7701,0,Y,0,20237.87,11144.27,8766.96,326.64,MW01M5376,No
39996,AA00039997,3/1/2022,22,35,172923725,IL,8/11/2023,2/11/2024,500/1000,1000,...,3850,0,N,0,6414.64,3827.30,1292.39,1294.95,JL94U7211,No
39997,AA00039998,9/1/2022,16,36,150605464,IL,9/20/2023,3/20/2024,500/1000,2000,...,2959,0,N,0,1569.74,70.74,497.39,1001.61,CJ70W1494,No
39998,AA00039999,6/1/2022,19,26,112928572,IL,10/3/2023,4/3/2024,250/500,1000,...,2641,0,Y,0,16628.75,534.44,9268.58,6825.73,GI44P0705,No
39999,AA00040000,1/1/2022,24,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,4627,0,N,0,534.66,115.40,68.86,350.40,TS11D6570,No

In [96]:
for i in abhi.columns:
    print(i, ':', sum(abhi[i] == '?'))

Claim_ID : 0
Bind_Date1 : 0
Customer_Life_Value1 : 0
Age_Insured : 0
Policy_Num : 0
Policy_State : 0
Policy_Start_Date : 0
Policy_Expiry_Date : 0
Policy_BI : 0
Policy_Ded : 0
Policy_Premium : 0
Umbrella_Limit : 0
Insured_Zip : 0
Gender : 0
Education : 0
Occupation : 0
Hobbies : 0
Insured_Relationship : 0
Capital_Gains : 0
Capital_Loss : 0
Garage_Location : 0
Accident_Date : 0
Accident_Type : 0
Collision_Type : 0
Accident_Severity : 0
authorities_contacted : 0
Acccident_State : 0
Acccident_City : 0
Accident_Location : 0
Accident_Hour : 0
Num_of_Vehicles_Involved : 0
Property_Damage : 0
Bodily_Injuries : 0
Witnesses : 0
Police_Report : 0
DL_Expiry_Date : 0
Claims_Date : 0
Auto_Make : 0
Auto_Model : 0
Auto_Year : 0
Vehicle_Color : 0
Vehicle_Cost : 0
Annual_Mileage : 0
DiffIN_Mileage : 0
Low_Mileage_Discount : 0
Fraud_Ind : 0
Commute_Discount : 0
Total_Claim : 0
Injury_Claim : 0
Property_Claim : 0
Vehicle_Claim : 0
Vehicle_Registration : 0
Check_Point : 0

In [97]:
abhi.dtypes

Claim_ID                     object
Bind_Date1                   object
Customer_Life_Value1          int64
Age_Insured                   int64
Policy_Num                    int64
Policy_State                 object
Policy_Start_Date            object
Policy_Expiry_Date           object
Policy_BI                    object
Policy_Ded                    int64
Policy_Premium              float64
Umbrella_Limit                int64
Insured_Zip                   int64
Gender                       object
Education                    object
Occupation                   object
Hobbies                      object
Insured_Relationship         object
Capital_Gains                 int64
Capital_Loss                  int64
Garage_Location              object
Accident_Date                object
Accident_Type                object
Collision_Type               object
Accident_Severity            object
authorities_contacted        object
Acccident_State              object
Acccident_City               object
Accident_Location            object
Accident_Hour                 int64
Num_of_Vehicles_Involved      int64
Property_Damage              object
Bodily_Injuries               int64
Witnesses                     int64
Police_Report                object
DL_Expiry_Date               object
Claims_Date                  object
Auto_Make                    object
Auto_Model                   object
Auto_Year                     int64
Vehicle_Color                object
Vehicle_Cost                float64
Annual_Mileage                int64
DiffIN_Mileage                int64
Low_Mileage_Discount          int64
Fraud_Ind                    object
Commute_Discount              int64
Total_Claim                 float64
Injury_Claim                float64
Property_Claim              float64
Vehicle_Claim               float64
Vehicle_Registration         object
Check_Point                  object
dtype: object

,Claim_ID,Bind_Date1,Customer_Life_Value1,Age_Insured,Policy_Num,Policy_State,Policy_Start_Date,Policy_Expiry_Date,Policy_BI,Policy_Ded,...,DiffIN_Mileage,Low_Mileage_Discount,Fraud_Ind,Commute_Discount,Total_Claim,Injury_Claim,Property_Claim,Vehicle_Claim,Vehicle_Registration,Check_Point
0,AA00000001,1/1/2023,12,28,123790687,OH,10/13/2023,4/13/2024,500/1000,1000,...,2499,0,N,0,6162.56,714.94,5370.74,76.88,IF47V1395,No
1,AA00000002,1/1/2023,12,31,129044473,IL,10/21/2023,4/21/2024,250/500,500,...,4242,1,N,0,20402.38,7669.31,5708.22,7024.85,EI51L7783,No
2,AA00000003,7/1/2022,18,50,146863149,OH,11/26/2023,5/26/2024,500/1000,500,...,2346,0,N,0,10839.12,3646.11,3468.94,3724.07,MU37B8905,No
3,AA00000004,1/1/2023,12,37,163100869,IL,8/8/2023,2/8/2024,500/1000,1000,...,2425,0,Y,0,17423.88,5585.62,1863.46,9974.80,RI52Q2108,No
4,AA00000005,3/1/2022,22,28,185582958,OH,11/12/2023,5/12/2024,250/500,1000,...,3890,1,N,0,24527.38,7224.79,3074.12,14228.47,UX39O9355,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,AA00039996,4/1/2022,21,41,172942578,IL,9/22/2023,3/22/2024,250/500,1000,...,7701,0,Y,0,20237.87,11144.27,8766.96,326.64,MW01M5376,No
39996,AA00039997,3/1/2022,22,35,172923725,IL,8/11/2023,2/11/2024,500/1000,1000,...,3850,0,N,0,6414.64,3827.30,1292.39,1294.95,JL94U7211,No
39997,AA00039998,9/1/2022,16,36,150605464,IL,9/20/2023,3/20/2024,500/1000,2000,...,2959,0,N,0,1569.74,70.74,497.39,1001.61,CJ70W1494,No
39998,AA00039999,6/1/2022,19,26,112928572,IL,10/3/2023,4/3/2024,250/500,1000,...,2641,0,Y,0,16628.75,534.44,9268.58,6825.73,GI44P0705,No
39999,AA00040000,1/1/2022,24,35,155203481,IN,10/12/2023,4/12/2024,500/1000,2000,...,4627,0,N,0,534.66,115.40,68.86,350.40,TS11D6570,No